<!-----------------------------
*Author: MTM Initial development
* Change log
* 2014-03-11 MTM CR# 8444 MTM Automation of Lead generation from Cases
* 2015-05-27 CCE CR# 32912 -  Update Custom Publisher Action for Lead Generation on Cases
 ----------------------------->
<apex:page standardController="Case"  standardStylesheets="false" extensions="CasePublisherControllerExtension">
<apex:stylesheet value="{!URLFOR($Resource.QlikPubAction, 'QlikPubAction.css')}" />
<apex:includeScript value="/support/console/28.0/integration.js"/>
    <script type="text/javascript">
        function refreshPage()
        {
            if(sforce.console.isInConsole()){                 
                 top.location.href="/console";                 
            }                            
            else{
                top.location.href= "/" + "{!Case.Id}";  
            }
        }
        function GetContactDetails()
        {
            GetContactDetails();
        }       
    </script>
    <apex:form >
    <apex:pagemessages />
      <apex:outputPanel id="myPanel">
        <apex:pageBlock id="pBlock1" mode="maindetail" rendered="{!IsPartner}">
            <apex:pageMessage id="pMess1" detail="{!Message}" severity="warning" strength="2"></apex:pageMessage>
        </apex:pageBlock> 
        
     <apex:pageBlock id="theBlock" rendered="{!RenderNext}" mode="maindetail">
            <apex:outputpanel id="MyPanel2" >
         <apex:pageBlockSection id="pSec1" showHeader="false" columns="1">
                <apex:pageblockSectionItem >
                    <apex:inputCheckbox value="{!ConsentCheckBox}" id="consent">
                        <apex:actionSupport id="actSupp1" event="onclick" reRender="buttonPanel"/>
                    </apex:inputCheckbox>
                    <apex:outputLabel id="outpLab1" for="consent" value="{!$Label.Confirm_Consent}"/>                   
                </apex:pageblockSectionItem>
                <br/>
         </apex:pageBlockSection>

         <apex:pageBlockSection id="pBlock2" showHeader="false" columns="2">
             <apex:inputField id="inpLabel1" label="Contact" onkeyup="{!ContactDetails}" value="{!Case.ContactId}" rendered="{!(NotInSFCheckBox ==false)}">
                 <apex:actionSupport id="actSup2" event="onchange" reRender="MyPanel2,buttonPanel"/>
             </apex:inputField>
             <apex:inputText id="inpT2" label="Contact" value="{!ContactName}" rendered="{!(NotInSFCheckBox ==true)}">
                 <apex:actionSupport id="actSup21" event="onkeyup" reRender="buttonPanel"/>
             </apex:inputText>
             <apex:pageBlockSectionItem >
                <apex:inputCheckbox value="{!NotInSFCheckBox }" id="InSF">
                    <apex:actionSupport id="actSup3" event="onchange" reRender="theBlock"/>
                </apex:inputCheckbox>
                <apex:outputLabel id="outLabel2" for="InSF" value="{!$Label.Not_in_Salesforce}"/>
             </apex:pageBlockSectionItem>                 
         </apex:pageBlockSection>
         
         <apex:pageBlockSection id="pBlock3" showHeader="false" columns="1">             
                 <apex:inputText id="inpLab3" label="Company" value="{!AccountNameNotInSF}" rendered="{!(NotInSFCheckBox ==true)}">
                     <apex:actionSupport event="onkeyup" reRender="buttonPanel"/>
                 </apex:inputText>
                 <apex:outputText id="OutText1" label="Company" value="{!AccountName}" rendered="{!(NotInSFCheckBox ==false)}">
                     <apex:actionSupport event="onkeyup" reRender="buttonPanel"/>
                 </apex:outputText>
                 <apex:inputText id="inpText3" label="Phone" value="{!PhoneNumberNotInSF}" rendered="{!(NotInSFCheckBox ==true)}">
                     <apex:actionSupport event="onkeyup" reRender="buttonPanel"/>
                 </apex:inputText>
                 <apex:outputText id="OutText2" label="Phone" value="{!PhoneNumber}" rendered="{!(NotInSFCheckBox ==false)}">
                     <apex:actionSupport event="onkeyup" reRender="buttonPanel"/>
                 </apex:outputText>
                 <apex:inputText id="inpText4" label="Email" value="{!EmailNotInSF}" rendered="{!(NotInSFCheckBox ==true)}">                 
                     <apex:actionSupport id="actSupp4" event="onkeyup"  reRender="buttonPanel"/>
                 </apex:inputText>
                 <apex:outputText id="OutText3" label="Email" value="{!Email}" rendered="{!(NotInSFCheckBox ==false)}">                 
                     <apex:actionSupport id="actSupp5" event="onkeyup"  reRender="buttonPanel"/>
                 </apex:outputText>
                        <br/>
                        <apex:outputText value="Please enter values for all four fields and tick the confirmation checkbox to continue." rendered="{!(NotInSFCheckBox ==true)}" />
                        <apex:outputText value="Any blank fields need to be completed on the Contact/Case before you can tick the confirmation checkbox to continue." rendered="{!(NotInSFCheckBox ==false)}" />
        </apex:pageBlockSection>
        </apex:outputpanel>
        <apex:outputpanel id="buttonPanel" >
            <apex:commandButton reRender="myPanel" action="{!NextStep}" disabled="{!!EnableNextButton}" id="btnNextE" styleClass="qlik-pub-action-commandButton"  value="Next"/>         
        </apex:outputpanel>
     </apex:pageBlock>
     
     <apex:pageBlock rendered="{!bNext}" mode="maindetail">
            <apex:pageBlockSection id="pbSect3" showHeader="false" columns="1">
                <apex:inputTextarea html-placeholder="What is the contact's goal and/or potential to buy? 
Describe the contact's business problem?
Does the contact have a time frame in mind?
What else do you know about the contact, company, relationship with QlikTech etc? " styleClass="qlik-pub-action-inputTextarea" value="{!Description}" cols="75" rows="7" id="description"  title="What is the contact's goal and/or potential to buy? 
Describe the contact's business problem?
Does the contact have a time frame in mind?
What else do you know about the contact, company, relationship with QlikTech etc? " >
                    <apex:actionSupport event="onkeyup" rerender="buttonPanel2" />
                </apex:inputTextarea>
                <apex:selectlist value="{!TypeOfLead}" label="Type of Lead" multiselect="false" size="1">
                    <apex:selectOption id="selectOpt1" itemvalue="Software/License" itemlabel="Software/License" />
                    <apex:selectOption id="selectOpt2"  itemvalue="Training/Consulting/Support" itemlabel="Training/Consulting/Support" />
                </apex:selectlist>
            </apex:pageBlockSection>
            <apex:outputpanel id="buttonPanel2" >
                <apex:commandButton disabled="{!bSubmit}" styleClass="qlik-pub-action-commandButton" style="color:white;background:rgb(137,179,42);"  action="{!SubmitCampaign}" oncomplete="javascript:refreshPage();true" value="Submit" />                 
            </apex:outputpanel>
     </apex:pageBlock>
   </apex:outputPanel>  
    </apex:form>
</apex:page>