<apex:page standardController="SLX__Change_Control__c" extensions="ChangeControlBusinessOwnerApprovalCtrl">
    <apex:form rendered="{!visible}">
        <apex:pageBlock title="Approval information">
            <apex:pageMessages />
            <apex:pageBlockButtons >
                <apex:commandButton value="Cancel" action="{!cancel}"/>
                <apex:commandButton value="Save" action="{!save}"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="2">
                <apex:outputField value="{!SLX__Change_Control__c.Name}"/>
                <apex:outputField value="{!SLX__Change_Control__c.CR_Number2__c}"/>
                <apex:outputField value="{!SLX__Change_Control__c.SLX__Requestor__c}"/>
                <apex:outputField value="{!SLX__Change_Control__c.Change_Manager__c}"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1">
                <apex:outputField value="{!SLX__Change_Control__c.Change_Description__c}"/>
                <apex:outputField value="{!SLX__Change_Control__c.Business_Need__c}"/>
                <apex:inputField value="{!SLX__Change_Control__c.Risk_Level__c}"/>
                <apex:inputField value="{!SLX__Change_Control__c.Send_to_System_Director__c}"/>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:outputText value="Link to Change Control: " escape="false" /><apex:outputLink target="_blank" value="/{!SLX__Change_Control__c.id}" id="theLink">{!SLX__Change_Control__c.CR_Number2__c}</apex:outputLink>
    </apex:form>
    <apex:form rendered="{!!visible}">
        <apex:pageBlock title="Request denied">
            <apex:pageMessages />
            <apex:pageBlockSection columns="1">
                <apex:outputtEXT value="{!ErrorMessage}"/>
            </apex:pageBlockSection>
            <apex:pageBlockButtons >
                <apex:commandButton value="Return" action="{!cancel}"/>
            </apex:pageBlockButtons>                
        </apex:pageBlock>
    </apex:form>
</apex:page>