<!-- 

	Page: ClonePlus
	
	Changelog:
        2013-04-25	Based upon work by: http://christopheralunlewis.blogspot.co.uk/2012/04/clone-plus-clone-salesforce-objects.html  
        2013-04-30  CCE     Modified for CR# 7927 - Rework of Account Plan feature and functionality
                            https://eu1.salesforce.com/a0CD000000YFNC8.

 -->
<apex:page controller="ClonePlusController" action="{!initialiseObjectsForCloning}">
  <!-- this section has been commented out to allow a pass through on this page. This results in automatic selection
       of all the records relating to each object selected via the calling URL.
  <apex:sectionHeader title="Clone Plus: {!objectName}"/>

  <apex:form id="theform" >
  
    Please select the child objects you would like to clone.<br/><br/>
  
    <apex:repeat value="{!objectChildren}" var="child">
      <apex:PageBlock title="{!child.pluralLabel}"> 
        <apex:pageBlockTable value="{!child.objectRows}" 
                             var="objectRow">
          <apex:column headerValue="Clone" width="10%">
            <apex:inputCheckbox value="{!objectRow.selected}"/>
          </apex:column>
          <apex:column headerValue="Name" value="{!objectRow.name}" 
                                          width="90%"/>
        </apex:pageBlockTable>
      </apex:PageBlock>
    </apex:repeat>
    
    <apex:PageBlock >
      <apex:commandButton action="{!doClone}" value="Clone"/>
    </apex:PageBlock>
  </apex:form>  -->

</apex:page>