<apex:page title="{$!Label.Event_Title}"
    controller="efRegistrationController"
    showHeader="false"
    sidebar="false"
    standardStylesheets="false"
    action="{!checkInitialState}">
  <!-- SFDC Consulting
        $Author:    &Mark Cane      
        $Created:   17th August 2010
        $Purpose:
        $Id:
        $Revision:  SAN 06/12/2012 CR#6937
    -->
  <apex:includeScript value="{!URLFOR($Resource.q10portal, 'js/yahoo-dom-event.js')}" />
  <apex:includeScript value="{!URLFOR($Resource.q10portal, 'js/balloon.js')}" />

  <apex:composition template="efTemplateRegistration">
    <apex:define name="styless">
      <apex:stylesheet value="{!URLFOR($Resource.q10portal, 'styles.css')}"/>
      <apex:stylesheet value="{!URLFOR($Resource.q10portal, 'registration.css')}"/>
      <apex:stylesheet value="{!URLFOR($Resource.q10portal, 'hotels.css')}"/>
    </apex:define>
    <apex:define name="banner">
        <apex:image id="theImage" url="{!eventBannerUrl}" style="vertical-align:top;"/>
    </apex:define>
    <apex:define name="logout">
        <a href="/apex/efEventforceHome">Events Home</a>
    </apex:define>
    <apex:define name="headertext">
      <apex:outputPanel layout="block">
        <h1 style="font-family: Arial;">Register here for {!eventName}</h1>
      </apex:outputPanel>
    </apex:define>
    <apex:define name="pagecontent">
      <div id="forms" class="forms">
        <apex:form >
          <div id="navigation" class="navigation" align="center">
            <apex:commandLink styleClass="selected" >
              Your Information
            </apex:commandLink>
            <apex:commandLink rendered="{!ShowTrainingForAttendee}" action="{!goTraining}">
              Training
            </apex:commandLink>
            <apex:commandLink action="{!goSummary}">
              Confirm
            </apex:commandLink>
            <br clear="all" />
          </div>
          <apex:outputPanel layout="block" id="extendedStayPolicyBalloon" style="display:none">
            <table class="subBlockBalloonDescription">
                <tr>   
                    <td> 
                         <apex:outputText value="{!EventWrapper.ExtendedStayPolicy}" escape="false"/>           
                     </td>
                </tr>
            </table>
          </apex:outputPanel>
          <script type="text/javascript">
            var balloon = createClassBalloon("{!URLFOR($Resource.q10portal, 'images/balloons/balloon.png')}",
            "{!URLFOR($Resource.q10portal, 'images/balloons/balloon_ie.png')}",
            "{!URLFOR($Resource.q10portal, 'images/balloons/up_left.png')}",
            "{!URLFOR($Resource.q10portal, 'images/balloons/down_left.png')}",
            "{!URLFOR($Resource.q10portal, 'images/balloons/up_right.png')}",
            "{!URLFOR($Resource.q10portal, 'images/balloons/down_right.png')}",
            "{!URLFOR($Resource.q10portal, 'images/balloons/close.png')}");

            /**
            * agrassi:JS - VF components ids.
            */
            var compBadgeFirstName = '{!$Component.badgeFirstName}';
            var compFirstName = '{!$Component.firstName}';
            var compBadgeLastName = '{!$Component.badgeLastName}';
            var compLastName = '{!$Component.lastName}';
            var compBusinessState = '{!$Component.businessState}';
            var compUsStates = '{!$Component.usStates}';
            var compCaStates = '{!$Component.caStates}';
            var compCountry = '{!$Component.country}';

            /**
            * agrassi:JS - VF controller values.
            */
            //    var attendeeContactFirstName = '{!AttendeeContact.FirstName}';
            //    var attendeeContactLastName = '{!AttendeeContact.LastName}';

          </script>
          <div class="wrap">
            <h2>Your Information</h2>
            <apex:outputPanel rendered="{!validatedOnRegisterPage}"
                layout="block"
                styleClass="required centerText">
              <h4>
                Error: Invalid Data. <br/> Review all error messages below to correct your data
              </h4>
            </apex:outputPanel>
          </div>
          <table class="topMargin">
            <thead>
              <tr>
                <td colspan="5" class="noPadd">
                  <div id="tilessection" class="tilessection">
                    <strong>ATTENDEE INFORMATION</strong> &nbsp;<span class="required">*Required Fields</span>
                  </div>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="forspacing" colspan="4"></td>
              </tr>
              <tr>
                <td class="labels" colspan="1">
                  <label for="firstname" class="require">
                    First Name:<span class="required">*</span>
                  </label>
                </td>
                <td class="inputs" colspan="1">
                  <apex:inputText maxlength="80"
                      id="firstName"
                      value="{!AttendeeContact.firstName}"/>
                  <apex:outputPanel id="fnError"
                      layout="block"
                      styleClass="error"
                      rendered="{!AND(NOT(regValidator.isValidFirstName),validatedOnRegisterPage)}">
                    Please enter First Name
                  </apex:outputPanel>
                </td>
                <td class="spacerCol"></td>
                <td class="labels" colspan="1">
                  <label for="lastname" class="require">
                    Last Name:<span class="required">*</span>
                  </label>
                </td>
                <td class="inputs" colspan="1">
                  <apex:inputText maxlength="80"
                      id="lastName"
                      value="{!AttendeeContact.lastName}"/>
                  <apex:outputPanel id="lnError"
                      layout="block"
                      styleClass="error"
                      rendered="{!AND(NOT(regValidator.isValidLastName),validatedOnRegisterPage)}">
                    Please Enter Last Name
                  </apex:outputPanel>
                </td>
              </tr>
              <apex:outputPanel >
                <tr>
                  <td class="labels">
                    <label for="company">
                      Company:
                    </label>
                  </td>
                  <td class="inputs">
                    <apex:outputText id="businessName"
                        styleClass="std"
                        value="{!businessName}" />
                  </td>
                  <td class="spacerCol"></td>
                  <td class="labels">
                    <label for="email">
                      Email:
                    </label>
                  </td>
                  <td class="inputs">
                    <apex:outputText value="{!AttendeeContact.email}"
                        rendered="{!23 > LEN(AttendeeContact.email)}"/>
                    <apex:outputText value="{!LEFT(AttendeeContact.email,22)}..."
                        rendered="{!LEN(AttendeeContact.email) >= 23}"/>
                  </td>
                </tr>
                <apex:outputPanel layout="block">
                  <apex:outputPanel layout="block">
                    <tr>
                      <td class="labels">
                        <label for="businessAddress" class="require">
                          Street:<span class="required">*</span>
                        </label>
                      </td>
                      <td class="inputs">
                        <apex:inputText maxlength="80"
                            id="businessAddress"
                            value="{!AttendeeContact.mailingStreet}"/>
                        <apex:outputPanel id="msError"
                            layout="block"
                            styleClass="error"
                            rendered="{!AND(NOT(regValidator.isValidMailingStreet),validatedOnRegisterPage)}">
                          Please enter Street.
                        </apex:outputPanel>
                      </td>
                      <td class="spacerCol"></td>
                      <td class="labels">
                        <label for="businesscity" class="require">
                          City:<span class="required">*</span>
                        </label>
                      </td>
                      <td class="inputs">
                        <apex:inputText maxlength="80"
                            id="businesscity"
                            value="{!AttendeeContact.mailingCity}"/>
                        <apex:outputPanel id="mcError"
                            layout="block"
                            styleClass="error"
                            rendered="{!AND(LEN(AttendeeContact.mailingCity) = 0, validatedOnRegisterPage)}">
                          Please enter City.
                        </apex:outputPanel>
                        <apex:outputPanel layout="block"
                            styleClass="error"
                            rendered='{!AND(LEN(AttendeeContact.mailingCity) > 0, NOT(regValidator.isValidMailingCity), validatedOnRegisterPage)}'>
                          City should contain up to 40 characters.
                        </apex:outputPanel>
                      </td>
                    </tr>
                    <tr>
                      <td class="labels">
                        <label for="businesscountry" class="require">
                          Country:<span class="required">*</span>
                        </label>
                      </td>
                      <td class="inputs">
                        <apex:selectList id="country"
                            value="{!AttendeeContact.mailingCountry}"
                            size="1"
                            styleClass="selectWide">
                          <apex:selectOptions value="{!picklist.CountryList}"/>
                          <apex:actionSupport event="onchange" rerender="statesContainer,statesRequire"/>
                        </apex:selectList>
                        <apex:outputPanel id="mcoError"
                            layout="block"
                            styleClass="error"
                            rendered="{!AND(NOT(regValidator.isValidMailingCountry),validatedOnRegisterPage)}">
                          Please select Country.
                        </apex:outputPanel>
                      </td>
                      <td class="spacerCol"></td>
                      <td class="labels">
                        <apex:outputPanel id="statesRequire">
                          <apex:outputPanel rendered="{!OR(AttendeeContact.mailingCountry = 'US', AttendeeContact.mailingCountry = 'CA',LEN(AttendeeContact.mailingCountry)==0)}">
                            <label for="businessState" class="require">
                              State/Province:<span class="required">*</span>
                            </label>
                          </apex:outputPanel>
                          <apex:outputPanel rendered="{!AND(AttendeeContact.mailingCountry != 'US',AttendeeContact.mailingCountry != 'CA',LEN(AttendeeContact.mailingCountry)>0)}">
                            <label for="businessState">State/Province:</label>
                          </apex:outputPanel>
                        </apex:outputPanel>
                      </td>
                      <td class="inputs">
                        <apex:outputPanel id="statesContainer">
                          <apex:inputText maxlength="80"
                              id="businessState"
                              value="{!AttendeeContact.mailingState}"
                              rendered="{!AND(AttendeeContact.mailingCountry != 'US',AttendeeContact.mailingCountry != 'CA',LEN(AttendeeContact.mailingCountry)>0)}"/>
                          <apex:selectList id="usStates"
                              size="1"
                              styleClass="selectWide"
                              value="{!AttendeeContact.mailingState}"
                              rendered="{!OR(AttendeeContact.mailingCountry = 'US',LEN(AttendeeContact.mailingCountry)==0)}">
                            <apex:selectOptions value="{!picklist.UsStateList}"/>
                          </apex:selectList>
                          <apex:selectList id="caStates"
                              size="1"
                              styleClass="selectWide"
                              value="{!AttendeeContact.mailingState}"
                              rendered="{!AttendeeContact.mailingCountry = 'CA'}">
                            <apex:selectOptions value="{!picklist.CaStateList}"/>
                          </apex:selectList>
                          <apex:outputPanel layout="block"
                              styleClass="error"
                              rendered="{!AND(LEN(AttendeeContact.mailingState)=0,OR(AttendeeContact.mailingCountry = 'US', AttendeeContact.mailingCountry = 'CA',LEN(AttendeeContact.mailingCountry)==0),validatedOnRegisterPage)}">
                            Please enter State/Province.
                          </apex:outputPanel>
                          <apex:outputPanel layout="block"
                              styleClass="error"
                              rendered="{!AND(LEN(AttendeeContact.mailingState)>0,NOT(regValidator.isValidMailingState),validatedOnRegisterPage)}">
                            State/Province should contain up to 40 characters.
                          </apex:outputPanel>
                        </apex:outputPanel>
                      </td>
                    </tr>
                    <tr>
                      <td class="labels">
                        <label for="zip" class="require">
                          Postal Code:<span class="required">*</span>
                        </label>
                      </td>
                      <td class="inputs">
                        <apex:inputText maxlength="80"
                            id="zip"
                            value="{!AttendeeContact.mailingPostalCode}"/>
                        <apex:outputPanel layout="block"
                            styleClass="error"
                            rendered="{!AND(LEN(AttendeeContact.mailingPostalCode) = 0,validatedOnRegisterPage)}">
                          Please enter Postal Code.
                        </apex:outputPanel>
                        <apex:outputPanel layout="block"
                            styleClass="error"
                            rendered="{!AND(LEN(AttendeeContact.mailingPostalCode) > 0, NOT(regValidator.isValidMailingPostalCode),validatedOnRegisterPage)}">
                          Postal Code should not exceed 9 digits/letters.
                        </apex:outputPanel>
                      </td>
                      <td class="spacerCol"></td>
                      <td class="labels">
                        <label for="contactphone" class="require">
                          Business Phone:
                        </label>
                      </td>
                      <td class="inputs">
                        <apex:inputText maxlength="80"
                            id="contactphone"
                            value="{!AttendeeContact.contactPhone}"/>                        
                      </td>
                    </tr>
                  </apex:outputPanel>
                  <apex:outputPanel >
                    <tr>
                      <td class="labels" colspan="1">
                        <label for="companysize">
                          Mobile Phone:<span class="required">*</span>
                        </label>
                      </td>
                      <td class="inputs" colspan="1">
                        <apex:inputText maxlength="80"
                            id="mobilePhone"
                            value="{!AttendeeRegistration.mobilePhone}"/>
                            <apex:outputPanel layout="block"
                            styleClass="error"
                            rendered="{!AND(LEN(AttendeeRegistration.mobilePhone)=0,validatedOnRegisterPage)}">
                          Please enter Mobile Phone number.
                        </apex:outputPanel>
                        <apex:outputPanel layout="block"
                            styleClass="error"
                            rendered="{!AND(LEN(AttendeeRegistration.mobilePhone)>0,NOT(regValidator.isValidMobilePhone),validatedOnRegisterPage)}">
                          Phone number must be in range of 7-30 characters
                        </apex:outputPanel>
                      </td>
                      <td class="spacerCol"></td>
                      <td class="labels">
                        <label class="require" for="industry">
                          Industry:<span class="required">*</span>
                        </label>
                      </td>
                      <td>
                        <apex:selectList id="industry"
                            value="{!Industry}"
                            size="1"
                            styleClass="selectWide">
                          <apex:selectOptions value="{!picklist.IndustryList}"/>
                        </apex:selectList>
                        <apex:outputPanel id="iError"
                            layout="block"
                            styleClass="error"
                            rendered="{!AND(NOT(regValidator.isValidIndustry),validatedOnRegisterPage)}">
                          Please select Industry.
                        </apex:outputPanel>
                      </td>
                    </tr>
                  </apex:outputPanel>
                </apex:outputPanel>
                <apex:outputPanel id="emp_dep_phone" layout="block" >
                  <tr>
                    <!--
                    <td class="labels" colspan="1">
                      <label for="functionalarea" class="require">
                        Job Function:<span class="required">*</span>
                      </label>
                    </td>
                    <td class="inputs" colspan="1">
                      <apex:selectList id="functionalarea"
                          value="{!AttendeeContact.JobFunction}"
                          size="1"
                          styleClass="selectWide">
                        <apex:selectOptions value="{!picklist.JobFunctionList}"/>
                      </apex:selectList>
                      <apex:outputPanel id="jfError"
                          layout="block"
                          styleClass="error"
                          rendered="{!AND(NOT(regValidator.isValidJobFunction),validatedOnRegisterPage)}">
                        Please select Job Function.
                      </apex:outputPanel>                     
                    </td>
                    -->
                      <td class="labels">
                        <label class="require" for="primaryRole">
                          Role:<span class="required">*</span>
                        </label>
                      </td>
                      <td>
                        <apex:selectList id="primaryRole"
                            value="{!AttendeeRegistration.PrimaryRole}"
                            size="1"
                            styleClass="selectWide">
                          <apex:selectOptions value="{!picklist.PrimaryRoleList}"/>
                        </apex:selectList>
                        <apex:outputPanel id="prError"
                            layout="block"
                            styleClass="error"
                            rendered="{!AND(NOT(regValidator.isValidPrimaryRole),validatedOnRegisterPage)}">
                          Please select Role.
                        </apex:outputPanel>
                    </td>
                    <td class="spacerCol"></td>
                    <td class="labels">
                      <label for="jobtitle" class="require">
                        Job Title:<span class="required">*</span>
                      </label>
                    </td>
                    <td class="inputs">
                      <apex:inputText maxlength="80"
                          id="jobTitleEmp"
                          value="{!AttendeeContact.JobTitle}"/>
                      <apex:outputPanel layout="block"
                          styleClass="error"
                          rendered="{!AND(NOT(regValidator.IsValidJobTitle),validatedOnRegisterPage)}" >
                        Please enter Job Title.
                      </apex:outputPanel>
                    </td>
                  </tr>
                </apex:outputPanel>
                <apex:outputPanel layout="block">
                  <tr>
                    <td class="labels" colspan="1">
                     <!-- 
                      <label for="joblevel" class="require">
                        Job Level:<span class="required">*</span>
                      </label>
                       -->
                    </td>
                    <td class="inputs" colspan="1">
                        <!--
                      <apex:selectList id="joblevel"
                          value="{!AttendeeContact.JobLevel}"
                          size="1"
                          styleClass="selectWide">
                        <apex:selectOptions value="{!picklist.JobLevelList}"/>
                      </apex:selectList>
                      <apex:outputPanel id="jlError"
                          layout="block"
                          styleClass="error"
                          rendered="{!AND(NOT(regValidator.isValidJobLevel),validatedOnRegisterPage)}">
                        Please select Job Level.                        
                      </apex:outputPanel>
                       -->
                    </td>
                  </tr>
                </apex:outputPanel>
                <apex:outputPanel layout="block" rendered="false">
                  <tr style="{!IF(isEmployee,'','display:none')}">
                    <td class="labels">
                      <label class="require" for="companysize">
                        <apex:outputText >
                          Department:<span class="required">*</span>
                        </apex:outputText>
                      </label>
                    </td>
                    <td class="inputs" colspan="1">
                      <apex:selectList id="departmentEmp"
                          value="{!AttendeeRegistration.Department}"
                          size="1"
                          styleClass="selectWide">
                        <apex:selectOptions value="{!picklist.EmployeeDepartmentList}"/>
                      </apex:selectList>
                      <apex:outputPanel id="cdErrorEmp"
                          layout="block"
                          styleClass="error"
                          rendered="{!AND(NOT(regValidator.isValidDepartment),validatedOnRegisterPage)}">
                        Please select Department.
                      </apex:outputPanel>
                    </td>
                  </tr>
                </apex:outputPanel>
              </apex:outputPanel>
            </tbody>
          </table>
          <table>
            <tr>
              <td>
                <label for="shareContactInfo">
                  I consent to my name and email address being made available to {!eventName} attendees through the mobile app for networking purposes.
                </label>
                <apex:inputCheckbox styleClass="radio"
                    value="{!AttendeeRegistration.shareContactInfo}"
                    id="shareContactInfo">                  
                </apex:inputCheckbox>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td>
                <label for="badgename">
                  Different name on badge?
                </label>
                <apex:inputCheckbox styleClass="radio"
                    value="{!AttendeeRegistration.separateNameOnBadge}"
                    id="separateNameOnBadge">
                  <apex:actionSupport event="onclick" rerender="batchContainer"/>
                </apex:inputCheckbox>
              </td>
            </tr>
          </table>
          <apex:outputPanel id="batchContainer">
            <apex:outputPanel id="batchNames" rendered="{!AttendeeRegistration.separateNameOnBadge}">
              <table>
                <tr>
                  <td class="labels">
                    <label for="badgeFirstname">
                      First Name:<span class="required">*</span>
                    </label>
                  </td>
                  <td class="inputs">
                    <apex:inputText onBlur="populatebfn()"
                        maxlength="80"
                        id="badgeFirstName"
                        value="{!AttendeeRegistration.badgeFirstName}"/>
                    <apex:outputPanel id="bfnError"
                        layout="block"
                        styleClass="error"
                        rendered='{!AND(IF(LEN(AttendeeRegistration.badgeFirstName)>0,false,true),validatedOnRegisterPage)}'>
                      Please enter Badge First Name.
                    </apex:outputPanel>
                  </td>
                  <td class="spacerCol"></td>
                  <td class="labels">
                    <label for="badgeLastname">
                      Last Name:<span class="required">*</span>
                    </label>
                  </td>
                  <td class="inputs">
                    <apex:inputText maxlength="80"
                        onBlur="populatebln()"
                        id="badgeLastName"
                        value="{!AttendeeRegistration.badgeLastName}"/>
                    <apex:outputPanel id="blnError"
                        layout="block"
                        styleClass="error"
                        rendered='{!AND(IF(LEN(AttendeeRegistration.badgeLastName)>0,false,true),validatedOnRegisterPage)}'>
                      Please enter Badge Last Name.
                    </apex:outputPanel>
                  </td>
                </tr>
              </table>
            </apex:outputPanel>
          </apex:outputPanel>
          
          
         <apex:outputPanel layout="block">
          <table class="topMargin">
            <thead>
              <tr>
                <td colspan="5" class="noPadd">
                  <div id="tilessection1" class="tilessection">
                    <strong>BILLING INFORMATION</strong>&nbsp;<span class="required">&nbsp;</span>
                  </div>
                </td>
              </tr>
            </thead> 
            <tbody>
              <tr>
                <td class="forspacing"></td>
              </tr>  
              <tr>        
                <td class="labels">
                  <label for="invoiceaddress" class="require">
                    Invoice Address:<span class="required">*</span>
                  </label>
                </td>

                    <td class="inputs">                   
                      <apex:inputTextarea style="width:200px"
                          id="InvoiceAddress"
                          value="{!AttendeeRegistration.InvoiceAddress}"/>
                      <apex:outputPanel layout="block"
                          styleClass="error"
                          rendered="{!AND(NOT(regValidator.IsValidJobTitle),validatedOnRegisterPage)}" >
                        Please enter Invoice Address.
                      </apex:outputPanel>                    
                    </td>                                          
             </tr>  
              <tr>        
                <td class="labels">
                  <label>
                    
                  </label>
                </td>
                <td class="labels">
                  <label>
                    If invoice address differs from the above, please modify accordingly
                  </label>
                </td>                                   
             </tr>                

             <apex:outputPanel rendered="{!regValidator.IsBillingCountryNeedVAT}">
              
              <tr>
                <td class="labels" >
                  <label for="vatno" class="require" >
                    VAT No.:<span class="required">*</span>
                  </label>
                </td>
                
                    <td class="inputs">
                      <apex:inputText maxlength="15"
                          id="VatNo"
                          value="{!AttendeeRegistration.VatNo}"></apex:inputText>
                      <apex:outputPanel layout="block"
                          styleClass="error"
                          rendered="{!AND(NOT(regValidator.IsValidJobTitle),validatedOnRegisterPage)}" >
                        Please enter VAT number.
                      </apex:outputPanel>
                        <apex:outputText >
                        <label  >
                            <span class="required">(Applicable for all countries within the European Union)</span>
                        </label>
                        </apex:outputText>                      
                    </td>                      
              </tr>  
              </apex:outputPanel>
            </tbody>                   
            </table>
          </apex:outputPanel>          
          
          
          <table class="topMargin">
            <thead>
              <tr>
                <td colspan="5" class="noPadd">
                  <div id="tilessection1" class="tilessection">
                    <strong>EMERGENCY CONTACT</strong>&nbsp;<span class="required">&nbsp;</span>
                  </div>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="forspacing"></td>
              </tr>
              <tr>
                <td class="labels">
                  <label for="emergencyname" class="require">
                    Full Name:<span class="required">*</span>
                  </label>
                </td>
                <td class="inputs">
                  <apex:inputText maxlength="80"
                      id="emergencyContact"
                      value="{!AttendeeRegistration.emergencyContact}">
                    <!--apex:actionSupport event="onblur" rerender="emergencyRelationRequire,emergencyPhoneRequire"/-->
                  </apex:inputText>
                  <apex:outputPanel id="ecError"
                   layout="block"
                   styleClass="error"
                   rendered="{!AND(NOT(regValidator.IsValidEmergencyContact),validatedOnRegisterPage)}">
                    Please enter Emergency Contact Name
                  </apex:outputPanel>
                </td>
                <td class="spacerCol"></td>
                <td class="labels">
                  <label for="emergencyrelationship" class="require">
                    Relationship:<span class="required">*</span>
                  </label>
                </td>
                <td class="inputs">
                  <apex:inputText maxlength="80"
                      id="emergencyRelationship"
                      value="{!AttendeeRegistration.emergencyRelationship}"/>
                  <apex:outputPanel layout="block"
                      styleClass="error"
                      rendered="{!AND(NOT(regValidator.IsValidEmergencyRelationship),validatedOnRegisterPage)}">
                    Please enter Relationship.
                  </apex:outputPanel>
                </td>
              </tr>
              <tr>
                <td class="labels">
                  <label for="emergencyphone" class="require">
                    Phone:<span class="required">*</span>
                  </label>
                </td>
                <td class="inputs">
                  <apex:inputText maxlength="80"
                        id="emergencyPhone"
                        value="{!AttendeeRegistration.emergencyPhone}"/>
                  <apex:outputPanel layout="block"
                      styleClass="error"
                      rendered="{!AND(NOT(regValidator.IsValidEmergencyPhoneCheck),validatedOnRegisterPage)}">
                    Please enter Phone No.
                  </apex:outputPanel>
                  <apex:outputPanel layout="block"
                      styleClass="error"
                      rendered="{!AND(LEN(AttendeeRegistration.emergencyPhone) > 0, validatedOnRegisterPage, NOT(regValidator.isValidEmergencyPhone))}">
                    Phone number must be in range of 7-30 characters.
                  </apex:outputPanel>
                </td>
                <td class="spacerCol"></td>
                <td class="labels"></td>
                <td class="inputs"></td>
              </tr>
            </tbody>
          </table>
                                        
          <apex:outputPanel layout="block">
            <table class="topMargin">
              <thead>
                <tr>
                  <td colspan="5" class="noPadd">
                    <div id="tilessection2" class="tilessection">
                      <strong>SPECIAL REQUIREMENTS</strong>
                    </div>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="forspacing"></td>
                </tr>
                <tr>
                  <td>
                    <label for="requireassistance">
                      Any allergies and/or special needs we should know of?
                    </label>
                    <apex:inputCheckbox styleClass="radio"
                        value="{!AttendeeRegistration.RequiresSpecialAssistance}"
                        id="requireassistance">
                      <apex:actionSupport event="onclick" rerender="assistanceContainer"/>
                    </apex:inputCheckbox>
                  </td>
                </tr>
              </tbody>
            </table>
            <apex:outputPanel id="assistanceContainer">
              <apex:outputPanel id="requireassistancediv" rendered="{!AttendeeRegistration.RequiresSpecialAssistance}">
                <table class="noMargin">
                  <tbody>
                    <tr>
                      <td colspan="5" class="forspacing"></td>
                    </tr>
                    <tr>
                      <td colspan="5">
                        <label for="medicalneeds" class="require">
                          Please describe the special services you require:<span class="required">*</span>
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="5">
                        <div class="textCounterOuter">
                          <div class="textCounterMiddle">
                            <div id="{!$Component.specialRequirement}_counter" class="textCounter"></div>
                          </div>
                        </div>
                        <apex:inputTextarea onmousedown="handleTextAreaElementChange('{!$Component.specialRequirement}', 255, 'remaining', 'over limit');"
                            onkeyup="handleTextAreaElementChange('{!$Component.specialRequirement}', 255, 'remaining', 'over limit');"
                            onkeydown="handleTextAreaElementChange('{!$Component.specialRequirement}', 255, 'remaining', 'over limit');"
                            onclick="handleTextAreaElementChange('{!$Component.specialRequirement}', 255, 'remaining', 'over limit');"
                            onchange="handleTextAreaElementChange('{!$Component.specialRequirement}', 255, 'remaining', 'over limit');"
                            value="{!AttendeeRegistration.specialRequirements}"
                            cols=""
                            rows=""
                            id="specialRequirement"/>
                        <apex:outputPanel layout="block"
                            styleClass="error"
                            rendered="{!AND(NOT(regValidator.IsValidSpecialRequirements),validatedOnRegisterPage)}">
                          Please describe your special requirements.
                        </apex:outputPanel>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </apex:outputPanel>
            </apex:outputPanel>
         </apex:outputPanel>
 
 
         
         <!-- EXTRA NIGHTS OFFER STARTS -->
         <apex:outputpanel layout="block" rendered="{!AND(EventWrapper.HasExtendedStayAddon, NOT(isEmployee))}">
            <table class="topMargin">
                <thead>
                    <tr>
                        <td colspan="5" class="noPadd">
                            <div id="tilessection4" class="tilessection">
                                <strong>EXTENDING YOUR STAY</strong>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="5">
                                <p><apex:outputText value="{!EventWrapper.ExtendedStaySummary}" escape="false"/></p>                            
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="forspacing"></td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <apex:outputPanel onmouseover="balloon.showTooltip(event,'load;{!$Component.extendedStayPolicyBalloon}');">
                                <label for="extendedstay">
                                    Do you wish to extend your stay?
                                </label>
                                <apex:inputCheckbox styleClass="radio"
                                     value="{!AttendeeRegistration.ExtendedStay}" id="extendedstay">
                                    <apex:actionSupport event="onclick" rerender="extendedStayContainer"/>
                                </apex:inputCheckbox>
                            </apex:outputPanel>                    
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <apex:outputPanel id="extendedStayContainer">
                                <apex:outputPanel id="extendedStayContainerdiv" rendered="{!AttendeeRegistration.ExtendedStay}" >
                                    <table>
                                        <tr>
                                            <td colspan="5">
                                                <apex:outputPanel layout="block"
                                                    styleClass="error"
                                                    rendered="{!AND(NOT(IsValidExtendedStay),validatedOnRegisterPage)}">
                                                  Please select valid dates that result in at least one night's stay.
                                                </apex:outputPanel>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="labels">
                                                <label for="stayArrivalDate">
                                                    Arrival:<span class="required">*</span>
                                                </label>
                                            </td>
                                            <td class="inputs">
                                                <apex:selectList id="stayArrivalDate" value="{!AttendeeRegistration.ExtendedStayArrival}"
                                                    size="1" styleClass="selectWide">
                                                    <apex:selectOptions value="{!extendedStayArrivalList}"/>
                                                </apex:selectList>                                   
                                            </td>
                                            <td class="spacerCol"></td>                                                        
                                            <td class="labels">
                                                <label for="stayDepartureDate">
                                                    Departure:<span class="required">*</span>
                                                </label>
                                            </td>
                                            <td class="inputs">
                                                <apex:selectList id="stayDepartureDate" value="{!AttendeeRegistration.ExtendedStayDeparture}"
                                                    size="1" styleClass="selectWide">
                                                    <apex:selectOptions value="{!extendedStayDepartureList}"/>
                                                </apex:selectList>                                    
                                            </td>
                                        </tr>                                                       
                                    </table>
                                </apex:outputPanel>
                            </apex:outputPanel> <!--  extendedStayContainer -->                                     
                        </td>                                       
                    </tr>                                
                </tbody>
            </table>
          </apex:outputPanel>      
          <!-- EXTRA NIGHTS ENDS -->
          <!-- SPOUSE OFFER STARTS -->
          <apex:outputpanel layout="block" rendered="{!AND(EventWrapper.HasSpouseOfferAddon, NOT(isEmployee))}">
            <table class="topMargin">
                <thead>
                    <tr>
                       <td colspan="5" class="noPadd">
                           <div id="tilessection3" class="tilessection">
                               <strong>SPOUSE INFORMATION</strong>
                           </div>
                       </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="5">
                            <p><apex:outputText value="{!EventWrapper.SpouseOfferSummary}" escape="false"/></p><br />
                        </td>
                    </tr>
                    <tr>
                         <td colspan="5" class="forspacing"></td>
                    </tr>
                    <tr>
                         <td colspan="5">
                             <label for="spouseaddition">
                                Do you wish to bring your Spouse to {!eventName}?
                             </label>
                             <apex:inputCheckbox styleClass="radio"
                                 value="{!AttendeeRegistration.SpouseAddition}"
                                 id="spouseaddition">
                                 <apex:actionSupport event="onclick" rerender="spouseNameContainer"/>
                             </apex:inputCheckbox>                    
                         </td>
                    </tr>
                 </tbody>
             </table>
             <apex:outputPanel id="spouseNameContainer">
                 <apex:outputPanel id="spouseNameContainerdiv" rendered="{!AttendeeRegistration.SpouseAddition}">
                     <table>
                         <tr>
                            <td class="labels">
                                 <label for="spouseFirstname">
                                     First Name:<span class="required">*</span>
                                 </label>
                             </td>
                             <td class="inputs">
                                 <apex:inputText maxlength="80"                                              
                                     id="spouseFirstName"
                                     value="{!AttendeeRegistration.spouseFirstName}"/>
                                 <apex:outputPanel id="sfnError"
                                     layout="block"
                                     styleClass="error"
                                     rendered='{!AND(IF(LEN(AttendeeRegistration.spouseFirstName)>0,false,true),validatedOnRegisterPage)}'>
                                     Please enter Spouse First Name.
                                 </apex:outputPanel>
                             </td>
                             <td class="spacerCol"></td>                            
                             <td class="labels">
                                 <label for="spouseLastname">
                                     Last Name:<span class="required">*</span>
                                 </label>
                             </td>
                             <td class="inputs">
                                 <apex:inputText maxlength="80"                                              
                                     id="spouseLastName"
                                     value="{!AttendeeRegistration.spouseLastName}"/>
                                 <apex:outputPanel id="slnError"
                                     layout="block"
                                     styleClass="error"
                                     rendered='{!AND(IF(LEN(AttendeeRegistration.spouseLastName)>0,false,true),validatedOnRegisterPage)}'>
                                     Please enter Spouse Last Name.
                                 </apex:outputPanel>
                             </td>
                         </tr>
                     </table>
                 </apex:outputPanel>
             </apex:outputPanel> <!--  spouseNameContainer -->                                        
          </apex:outputPanel>      
          <!-- SPOUSE OFFER ENDS -->         
          <script>
            handleTextAreaElementChange('{!$Component.specialRequirement}', 255, 'remaining', 'over limit');
          </script>
          <!-- NOT FOR EMPLOYEES ENDS -->         
          <div class="controls">
            <apex:commandButton action="{!goNext}"
                  image="{!URLFOR($Resource.q10portal, 'images/template/button-save-next.gif')}"
                  styleClass="button-submit"
                  value="Next"/>
          </div>
        </apex:form>
      </div>
    </apex:define>
  </apex:composition>
</apex:page>