<apex:page title="Loading..." showHeader="false" sidebar="false" standardStylesheets="false" controller="efEventforceHomeController">  

    <apex:repeat value="{!listEvent}" var="e">
<script>
var redirect='/apex/efAttendeePortalSession_mln?registrationID={!e.registrationId}';    
var getsessionID='{!$CurrentPage.parameters.sessionID}';
    if (getsessionID!=null){
        redirect=redirect+'&sessionID={!$CurrentPage.parameters.sessionID}';
        }
 
top.location=redirect;
</script>    

    </apex:repeat>                            

</apex:page>