<!-- 
* Change log:
* 2018-10-08	ext_vos	CHG0033956: use custom settings for URL.
*
-->
<apex:page controller="ForecastSnapshotsIframeController">
	<apex:pageMessages />
    <iframe id="ForecastSnapshots" height="1000px" width="100%" frameborder="0"
            name="Forecast Snapshots" scrolling="yes" src="{!historyUrl}"></iframe>
</apex:page>