<apex:page >


<br>&nbsp;</br>
<iframe height="1000px" width="1500px" id="Forecasting App" name="Forecasting App" src="https://pub.qliktech.com/QvAJAXZfc/opendoc.htm?document=Sales/Forecasting.qvw"></iframe>

</apex:page>