<apex:page > 
 
<iframe height="700px" width="100%" frameborder="0" id="QCampaignPerformance" name="QCampaignPerformance" src="https://pub.qliktech.com/QvAJAXZfc/opendoc.htm?document=Marketing%2FMarketing%20360.qvw&host=AccessPoint%20Documents"></iframe> 

</apex:page>