<!--Change Log:
   2014-07-10 Updated a condition of logging
    MTM 2014-11-28 CR# 17952
-->    
<apex:page standardController="Opportunity"  extensions="IE10compatModeFixer" showHeader="true" >
    <apex:stylesheet value="{!URLFOR($Resource.QlikPubAction, 'QlikPubAction.css')}" />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js" />
    <apex:form id="frmRevenueType">
        <apex:pageBlock id="pageBlock1">
            <apex:pageMessages />
            <apex:pageBlockSection id="pSec1" showHeader="false" columns="1">
                <apex:outputLabel id="lblTilte" value="Change Opportunity Revenue type for {!Opportunity.Name}"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Revenue Type" id="pbRevenueType" columns="1">
                <apex:inputField id="lstRevenueType" value="{!Opportunity.Revenue_Type__c}"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Sell Partner Information" id="pbSellPartner" columns="2">
                <apex:inputField id="lstSellThroughPartner" value="{!Opportunity.Sell_Through_Partner__c}"/>
                <apex:inputField id="lstActivePSM" value="{!Opportunity.Active_PSM__c}"/>
                <apex:inputField id="lstPartnerContact" value="{!Opportunity.Partner_Contact__c}"/>
                <apex:inputField id="lstSecondPartner" value="{!Opportunity.Second_Partner__c}"/>            
            </apex:pageBlockSection>
            <apex:outputPanel id="pnlButton">
                <apex:pageBlockSection id="pSecButton" showHeader="false" columns="1">
                    <apex:commandButton id="btnChangeRevenueType" value="Save" title="Save" onclick="changeRevenueType();return false;" styleClass="qlik-pub-action-commandButton"/>
                </apex:pageBlockSection>
            </apex:outputPanel>
        </apex:pageBlock>
    </apex:form>
       
    <apex:includeScript value="../../soap/ajax/27.0/connection.js" />
    <apex:includeScript value="../../soap/ajax/27.0/apex.js"/>
    <script type="text/javascript">
        var j$ = jQuery.noConflict();

        //Get custom settings
        sforce.connection.sessionId = '{!$Api.Session_ID}';
        var oppId = '{!Opportunity.id}';
        var nsOppId = '{!Opportunity.INT_NetSuite_InternalID__c}';
        var currOppRevenueType = '{!Opportunity.Revenue_Type__c}';
        var btnChangeRevenueType = '{!$Component.frmRevenueType.pageBlock1.pnlButton.btnChangeRevenueType}';
        var lstRevenueType = '{!$Component.frmRevenueType.pageBlock1.pbRevenueType.lstRevenueType}';
        var lstSellThroughPartner = '{!$Component.frmRevenueType.pageBlock1.pbSellPartner.lstSellThroughPartner}_lkid';
        var lstPartnerContact = '{!$Component.frmRevenueType.pageBlock1.pbSellPartner.lstPartnerContact}_lkid';
        var lstActivePSM = '{!$Component.frmRevenueType.pageBlock1.pbSellPartner.lstActivePSM}_lkid';
        var lstSecondPartner = '{!$Component.frmRevenueType.pageBlock1.pbSellPartner.lstSecondPartner}_lkid';
    

        function getElementSfId(id)
        {
            var value = document.getElementById(id).value;
            if (Number(value) == 0)
            {
                value= null;
            }
            return value;
        }
        function changeRevenueType() {
            if (confirm('Please be aware of the following before you click OK..\n\
All existing Quotes will be removed.\n\
All existing products will be removed.\n\
The current Revenue Type will be changed as per your selection.\n\
A new quote will be required.\n\
Only click on OK if you want to proceed with this change.')) {
                if (window.btnChangeRevenueTypePressed !== 1) {
                window.btnChangeRevenueTypePressed = 1;
                //Disable all buttons once process starts
                j$('.btn').attr('disabled', 'disabled');
                try
                  {
                        document.body.style.cursor = 'wait';
            
                        var eRevenueType = document.getElementById(lstRevenueType);
                        var selectedRevenueType = eRevenueType.options[eRevenueType.selectedIndex].value;
                                    
                        var selectedSellThroughPartner = getElementSfId(lstSellThroughPartner);             
                                    
                        var selectedPartnerContact = getElementSfId(lstPartnerContact);
                        
                        var selectedActivePSM = getElementSfId(lstActivePSM);
            
                        var selectedSecondPartner = getElementSfId(lstSecondPartner);         
                        var retStr;            
                        if(selectedRevenueType != currOppRevenueType){
                            retStr = sforce.apex.execute("OpportunityChangeRevenueType", "ChangeRevenueType", {oppId:'{!Opportunity.id}', newRevenueType: selectedRevenueType ,newSellThroughPartner: selectedSellThroughPartner ,newPartnerContact: selectedPartnerContact ,newActivePSM: selectedActivePSM ,newSecondPartner: selectedSecondPartner});
                        
                            document.body.style.cursor = 'auto';
                            if(retStr != '') alert(retStr); 
                        }
                }
                catch(err)
                {
                    alert('Error on convert' + err.message);
                }
                //Enable all buttons when process ends
                //j$('.btn').removeAttr('disabled');
                
             }
          }
            gotoOppPage();
        }
        
        function gotoOppPage(){
            //Go to opportunity page
             var url = '/'+oppId;
            if (window.self !== window.top) {
                window.top.location.href = url;
            } else {
                location.href = url;
            }
        }
        
    </script>
</apex:page>