<apex:page standardController="NS_Quote__c" extensions="IE10compatModeFixer" showHeader="true" >
<!-----------------------------
2014-10-24 Stuart Sleight  | Added OEM Sense revenue types
2014-12-11 MTM CR 19217
2015-2-26  CAH CR 21620 renaming CTW
2015-04-2 MTM CR# 32495
----------------------------->    
    <style>
        #infoNotice .ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; float: none; right: 0px; top: 0px; position: relative; margin-top: 0px; }
        #infoNotice .ui-icon { width: 16px; height: 16px; background-image: url(https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/south-street/images/ui-icons_808080_256x240.png); }
        #infoNotice .ui-widget-content .ui-icon {background-image: url(https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/south-street/images/ui-icons_808080_256x240.png); }
        #infoNotice .ui-widget-header .ui-icon {background-image: url(https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/south-street/images/ui-icons_847e71_256x240.png); }
        #infoNotice .ui-state-default .ui-icon {background-image: url(https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/south-street/images/ui-icons_eeeeee_256x240.png); }
        #infoNotice .ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/south-street/images/ui-icons_ffffff_256x240.png); }
        #infoNotice .ui-state-active .ui-icon {background-image: url(https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/south-street/images/ui-icons_8dc262_256x240.png); }
        #infoNotice .ui-state-highlight .ui-icon {background-image: url(https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/south-street/images/ui-icons_8dc262_256x240.png); }
        #infoNotice .ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/south-street/images/ui-icons_cd0a0a_256x240.png); }   
        #infoNotice .ui-icon-circle-check { background-position: -208px -192px; }   
        #infoNotice .ui-icon-closethick { background-position: -96px -128px; }
        #infoNotice .ui-state-highlight .ui-icon {background-image: url(https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/south-street/images/ui-icons_8dc262_256x240.png); }
        #infoNotice .ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/south-street/images/ui-icons_cd0a0a_256x240.png); }
        
        .ui-icon { top: 0px; right: 0px; height: 16px; width: 16px; } 
        .ui-icon-grip-diagonal-se { background-position-x: -80px; background-position-y: -224px; top: auto; }      
        .ui-icon-closethick { background-position: -96px -128px; } 
        
        {!IF($User.UITheme == 'PortalDefault', "#framewrapper { margin-left: -35px; margin-right: -35px; margin-top: -20px; }", "")}
        
    </style>

    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js" />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.js" />
    <apex:stylesheet value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/south-street/jquery-ui.css"/>
    <apex:includeScript value="../../soap/ajax/27.0/connection.js" />
    <apex:includeScript value="../../soap/ajax/27.0/apex.js" />
    
    <script type="text/javascript">
        var jqry$ = jQuery.noConflict();        
        
        /*
         * CONFIGURATION ITEMS --- --- --- --- --- --- --- --- --- ---
         */
         
        //Get custom settings
        sforce.connection.sessionId = '{!$Api.Session_ID}';

       
        var resultCustomSettings = sforce.connection.query("select BoomiBaseURL__c, BoomiToken__c, NSProductConfiguratorURL__c, eCustomsURL__c, eCustomsSOAPAction__c, SFJumpSiteURL__c From QTCustomSettings__c where name = 'default'");
        var customRecords = resultCustomSettings.getArray("records");
        //Url For the HTTP requests.
        var BaseURL = customRecords[0].BoomiBaseURL__c;
        var token = customRecords[0].BoomiToken__c;
        var productConfiguratorURL = customRecords[0].NSProductConfiguratorURL__c;
        var jumpSiteURL = customRecords[0].SFJumpSiteURL__c;
        var eCustomsURL = customRecords[0].eCustomsURL__c;
        var eCustomsSOAPAction = customRecords[0].eCustomsSOAPAction__c;
        
        //eCustoms control
        var eCustomsStatus = "ok";
        var eCustomsStartTime = 0;
        
        // HTTP headers, Content-Type and Digest Authorization.
        var requestHeaders = {"Content-Type":"text/xml", "Authorization":token};
        var requestHeadereCustoms = {"Content-Type" : "text/xml", "Content-Length" : "0", "SOAPAction" : eCustomsSOAPAction};

        /*
         * --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---
         */

        // Fetch NS OpportunityId
        var results = sforce.connection.query("SELECT Name, StageName, RecordTypeId, OwnerId, AccountId, INT_NetSuite_InternalID__c, INT_NetSuite_OppOwner_InternalD__c, INT_Account_NS_InternalID__c, Revenue_Type__c FROM Opportunity WHERE Id  =  '{!NS_Quote__c.Opportunity__c}' ");
        var records = results.getArray("records"); 
               
        var interval;
        //Create the validation values.
        var OpportunitySFDCID = '{!CASESAFEID(NS_Quote__c.Opportunity__c)}';
        var CurrentUserNSID = '';
        var AccountNSID = records[0].INT_Account_NS_InternalID__c;
        var AccountSFDCID = records[0].AccountId;
        var OppNSID = records[0].INT_NetSuite_InternalID__c;
        var OwnerSFDCID = records[0].OwnerId;
        var UserSFDCID = '{!CASESAFEID($User.Id)}'; 
        var RecordTypeId = records[0].RecordTypeId;
        var StageName = records[0].StageName;
        var OppOwnerNSID = records[0].INT_NetSuite_OppOwner_InternalD__c;
        var IsPartner = "F";
        
        if ((records[0].Revenue_Type__c === "OEMPerpetual" || records[0].Revenue_Type__c === "OEMPerpetual Sense" || records[0].Revenue_Type__c === "OEMPrepay" || 
            records[0].Revenue_Type__c === "OEMRoyalty" || records[0].Revenue_Type__c === "OEMSubscription" || records[0].Revenue_Type__c === "OEMSubscription Sense")) {
            var results2 = sforce.connection.query("SELECT Id, End_User_Account_del__c, End_User_Account_del__r.INT_NetSuite_InternalID__c FROM Opportunity WHERE Id  =  '{!NS_Quote__c.Opportunity__c}' ");
            var records2 = results2.getArray("records"); 
            if (records2[0].End_User_Account_del__c != null && records2[0].End_User_Account_del__c != '') {
                //alert("Setting AccountSFDC Id to: " + records2[0].End_User_Account_del__c + "(NS: " + records2[0].End_User_Account_del__r.INT_NetSuite_InternalID__c + ")");
                AccountSFDCID = records2[0].End_User_Account_del__c;     // If this is an OEM deal with a End User Account selected - we should push that account over
                AccountNSID = records2[0].End_User_Account_del__r.INT_NetSuite_InternalID__c;
            }
        }

        if (records[0].Revenue_Type__c === "OEMPerpetual" || records[0].Revenue_Type__c === "OEMPerpetual Sense" || records[0].Revenue_Type__c === "Reseller" || 
            records[0].Revenue_Type__c === "Reseller Subscription" || records[0].Revenue_Type__c === "Reseller QSG" ||
            records[0].Revenue_Type__c === "OEMPrepay" || records[0].Revenue_Type__c === "OEMRoyalty" ||
            records[0].Revenue_Type__c === "OEMSubscription" || records[0].Revenue_Type__c === "OEMSubscription Sense" || records[0].Revenue_Type__c === "Fulfillment" ||
            records[0].Revenue_Type__c === "Reseller Sense" || records[0].Revenue_Type__c ==="Fulfillment Sense" ||
            records[0].Revenue_Type__c === "Reseller SA" || records[0].Revenue_Type__c === "OEMDevelop" || records[0].Revenue_Type__c === "OEMDevelop Sense" ||
            records[0].Revenue_Type__c === "Reseller Services-Deferred" ) {
            IsPartner = "T";
        }

        //Run query, as we can't do a lookup for this value
        var results = sforce.connection.query("Select Id, INT_NetSuite_InternalID__c From User where Id  =  '" + OwnerSFDCID + "' OR Id = '" + UserSFDCID + "' ");
        var records = results.getArray("records");
        for (i=0;i<records.length;i++) {
            var rec = records[i];
            if (rec.Id === OwnerSFDCID && OppOwnerNSID === '') {
                OppOwnerNSID = rec.INT_NetSuite_InternalID__c;    
            }
            if (rec.Id === UserSFDCID) {
                CurrentUserNSID = rec.INT_NetSuite_InternalID__c;    
            }
        }
        

         //MTM CR 19217
        var orgId = '{!$Organization.Id}';
        //Create the messages
        var SendCustMessage = '<Record type="Customer" environment="' + orgId + '"><ID>' + AccountSFDCID + '</ID></Record>';
        var SendCurrentUserMessage = '<Record type="User" environment="' + orgId + '"><ID>' + UserSFDCID + '</ID></Record>';
        var SendOwnerMessage = '<Record type="User" environment="' + orgId + '"><ID>' + OwnerSFDCID + '</ID></Record>';
        var SendOppMessage = '<Record type="Opportunity" environment="' + orgId + '"><ID>' + OpportunitySFDCID + '</ID></Record>';

        //Create the send values. Note, contact is not in here. Do to the nature of how this will need to work, we need to send it every time. The boomi process will determine if they should be resent.
        var SendCurrentUser = (CurrentUserNSID  === "" || CurrentUserNSID   === null ? '1' : '0');
        var SendCustomer    = (AccountNSID      === "" || AccountNSID       === null ? '1' : '0');
        var SendOpp         = (OppNSID          === "" || OppNSID           === null ? '1' : '0');
        var SendOwner       = (OppOwnerNSID     === "" || OppOwnerNSID      === null ? '1' : '0');            

        // HTTP Settings
        var method = "POST";
        var timeout = 20000000;            
        
        // Fetch SFDC Username to determine user type
        var user = sforce.connection.getUserInfo();

        jqry$(document).ready(function(){  
            interval = self.setInterval(function() {
                if (typeof jqry$.ui != 'undefined') {      // Retry until jQuery UI has been loaded successfully
                    
                    window.clearInterval(interval);
                              
                    var ii = 0;
                    
                        try {
                            showDialog();
                            
                            var eCustStatus = '';
                            var opportunityTriggered = "false";
                            
                            eCustomsResult = sforce.connection.query("SELECT Id, Legal_Approval_Triggered__c, Account.Legal_Approval_Status__c, End_User_Account_del__c, End_User_Account_del__r.Legal_Approval_Status__c FROM Opportunity WHERE Id = '" + OpportunitySFDCID + "'");
                            var eCustomsResult = eCustomsResult.getArray("records");
                            var str = " for eCustoms...";
                                
                            jqry$("#infoeCustomsStauts").text(str);
                            
                            opportunityTriggered = eCustomsResult[0].Legal_Approval_Triggered__c;
                            if (opportunityTriggered === "false") {    // Call eCustoms via remote function
                                callEcustoms();
                            } 
                            
                            eCustomsResult = sforce.connection.query("SELECT Id, Legal_Approval_Triggered__c, Account.Legal_Approval_Status__c, End_User_Account_del__c, End_User_Account_del__r.Legal_Approval_Status__c FROM Opportunity WHERE Id = '" + OpportunitySFDCID + "'");
                            eCustomsResult = eCustomsResult.getArray("records");
                            
                            if (eCustomsResult[0].End_User_Account_del__c != null && eCustomsResult[0].End_User_Account_del__c != '') {
                                eCustStatus = eCustomsResult[0].End_User_Account_del__r.Legal_Approval_Status__c;
                            } else {
                                eCustStatus = eCustomsResult[0].Account.Legal_Approval_Status__c;
                            }
                            opportunityTriggered = eCustomsResult[0].Legal_Approval_Triggered__c;
                            
                            if (opportunityTriggered === "true" && (eCustStatus === 'Legal Approval Auto Approved' || eCustStatus === 'Legal Approval Granted' || eCustStatus === 'OEM Record type - End User Account checked. Success')) {
                                
                                SuccessMsg("#eCustomsIcon", "#infoeCustoms", eCustStatus);
                                sendCurrentUser();    // Continue with the Boomi Transfers
                            } 
                            else 
                            {                                
                                ErrorMsg("Negative legal status", "#eCustomsIcon", "#infoeCustoms", "This customer needs to be reviewed and approved by the legal department. Legal is notified automatically.");                                
                            }
                                                    
                            
                        } catch (ex) {
                            
                            ErrorMsg("Unrecoverable failure!", "#eCustomsIcon", "#infoeCustoms", "Exception while querying for eCustoms status. Please try again later. (" + ex + ")");
                        }
                                            
                }
             }, 1000);           
        });
        
        function callEcustoms(){
            try {           

                console.log('ecustom call started..');              
                var res = sforce.apex.execute("globalQTeCustomsWrapper", "CallCompanyCheck", {"OpportunityIDs": [OpportunitySFDCID]});                
                console.log('ecustom call ended with res..' + res);                
              
            } catch(err) {
                eCustomsStatus = "failure";
                console.log(err);
            }
        }
            
        function DoSSO() {

            if (OppNSID === null || OppNSID === "") {
                results = sforce.connection.query("SELECT Name, StageName, RecordTypeId, OwnerId, AccountId, INT_NetSuite_InternalID__c, INT_Account_NS_InternalID__c FROM Opportunity WHERE Id  =  '{!NS_Quote__c.Opportunity__c}' ");
                records = results.getArray("records"); 
                if (records.length === 0) {
                    ErrorMsg("Unrecoverable failure", "#contactIcon", "#infoContact", "<html><body><b>Could not fetch Opportunity NetSuite ID from Salesforce</b></body></html>");
                    return;
                }         
                OppNSID = records[0].INT_NetSuite_InternalID__c;        
            }            
            
            var ns_url = encodeURIComponent(productConfiguratorURL + "&QuoteId=&OpportunityId=")
                        + OppNSID 
                        + "{!URLENCODE('&IsPartner=')}"
                        + IsPartner;
            var url = jumpSiteURL
                      + "?SessionId={!$Api.Session_ID}"
                      + "&CallbackURL={!URLENCODE($Api.Enterprise_Server_URL_160)}"
                      + "&TargetURL=" + ns_url;            
            
            jqry$("#framewrapper").html('<iframe src="' + url + '" width="100%" height="500px" id="homepageComponentiFrameId" frameborder="0" scrolling="true" />');        
        }
        
        /*
         * Resize magic - start
         */
        
        function receiveSize(e){
            // for security: set this to the domain of the iframe - use e.uri if you need more specificity  
            var i = 0 + 2;  
            if (e.origin === "https://system.sandbox.netsuite.com" || e.origin === "https://system.netsuite.com" || e.origin === "https://system.na1.netsuite.com") { 
                resizeIframe(e.data);
            }
        }

        function resizeIframe(height) {
            // "+60" is a general rule of thumb to allow for differences in
            // IE & and FF height reporting, can be adjusted as required..
            document.getElementById('homepageComponentiFrameId').height = parseInt(height)+60;
        }

        // We do a hack so that this can run on IE 7/8 with ?window.attachEvent?
        if (window.addEventListener) {
            window.addEventListener("message", receiveSize, false);
        } else if (window.attachEvent) {
            window.attachEvent("onmessage", receiveSize, false);
        }

        /*
         * Resize magic - end
         */        
        
        //The main function that does all the work for the webservice calls.
        //This function will call all the others in a chain, as we need things to be inserted in order.
        function sendCurrentUser() {
            if (SendCurrentUser == '1') {
                jqry$("#infoUser").text("Sending Current User to NetSuite...");

                //Update boomi exec control table
                updateBoomiStatus(UserSFDCID);
                              
                sforce.connection.remoteFunction({
                    url: BaseURL + "createNSEmployee",
                    requestHeaders: requestHeaders,
                    requestData: SendCurrentUserMessage,
                    method: method,
                    timeout: timeout,
                    onSuccess: function (response) {
                        sendCurrentUserTimerLoop();
                    },
                    onFailure: function (response) {            
                        ErrorMsg("Send Current User Failed", "#currentUserIcon", "#infoUser", response);
                    }
                });
            }
            else {
                SuccessMsg("#currentUserIcon", "#infoUser", "Your User is already in NS")
                sendOwner();
            }
        }
        
        function sendCurrentUserTimerLoop() {
            
            var sendCurrentUserTimerLoopCnt = 0;
            var intervalX = self.setInterval(function() {
                
                var status  = getBoomiStatus(UserSFDCID);
                if(status["status"] == "Completed" ){
                    window.clearInterval(intervalX);
                    SuccessMsg("#currentUserIcon", "#infoUser", "User Created")
                    sendOwner();
                }
                else if(status["status"] == "Failed"){
                     window.clearInterval(intervalX);
                     ErrorMsg("Boomi call failed", "#currentUserIcon", "#infoUser", status["message"]);
                }
                               
                sendCurrentUserTimerLoopCnt++;
                if (sendCurrentUserTimerLoopCnt == 45) {
                    window.clearInterval(intervalX);
                    ErrorMsg("Boomi call timed out after " + sendCurrentUserTimerLoopCnt*2 + " seconds", "#currentUserIcon", "#infoUser", "");
                }
                
            }, 2000);
            
        }

        function sendOwner() {
            if (SendOwner == '1' && OwnerSFDCID != UserSFDCID) {
                jqry$("#infoOppOwner").text("Sending Opp Owner to NetSuite...");
                
                //Update boomi exec control table
                updateBoomiStatus(OwnerSFDCID);
                
                sforce.connection.remoteFunction(
                    {
                        url: BaseURL + "createNSEmployee",
                        requestHeaders: requestHeaders,
                        requestData: SendOwnerMessage,
                        method: method,
                        timeout: timeout,
                        onSuccess: function (response) {
                            sendOwnerTimerLoop();
                        },
                        onFailure: function (response) {
                            ErrorMsg ("Failed Opportunity Owner Creation", "#oppOwnerIcon", "#infoOppOwner", response);
                        }
                    });
            }
            else {
                SuccessMsg("#oppOwnerIcon", "#infoOppOwner", "Opp Owner already in NS"),
                sendCustomer();
            }
        }
        
        function sendOwnerTimerLoop() {
            
            var sendOwnerTimerLoopCnt = 0;
            var intervalY = self.setInterval(function() {
                
                var status  = getBoomiStatus(OwnerSFDCID);
                if(status["status"] == "Completed" ){
                    window.clearInterval(intervalY);
                    SuccessMsg("#oppOwnerIcon", "#infoOppOwner", "User Created")
                    sendCustomer();
                }
                else if(status["status"] == "Failed"){
                     window.clearInterval(intervalY);
                     ErrorMsg("Boomi call failed", "#oppOwnerIcon", "#infoOppOwner", status["message"]);
                }
                               
                sendOwnerTimerLoopCnt++;
                if (sendOwnerTimerLoopCnt == 45) {
                    window.clearInterval(intervalY);
                    ErrorMsg("Boomi call timed out after " + sendOwnerTimerLoopCnt*2 + " seconds", "#oppOwnerIcon", "#infoOppOwner");
                }
                
            }, 2000);
            
        }        
        
        function sendCustomer() {
                            
            //Update boomi exec control table
            updateBoomiStatus(AccountSFDCID);
            var BoomiMethod = "";
            
            if (SendCustomer == '1') {
                jqry$("#infoCustomer").text("Sending Account to NetSuite...");
                BoomiMethod = "createNSCustomer";
            }
            else {
                jqry$("#infoCustomer").text("Updating Account in NetSuite...");
                BoomiMethod = "updateNSCustomer";                
            }
            
            sforce.connection.remoteFunction(
            {
                url: BaseURL + BoomiMethod,
                requestHeaders: requestHeaders,
                requestData: SendCustMessage,
                method: method,
                timeout: timeout,
                onSuccess: function (response) {
                    sendCustomerTimerLoop();
                },
                onFailure: function (response) {
                    ErrorMsg ("Customer Creation Failed", "#customerIcon", "#infoCustomer", response);
                }
            });
        }
        
        function sendCustomerTimerLoop() {
            
            var sendCustomerTimerLoopCnt = 0;
            var intervalZ = self.setInterval(function() {
                
                var status  = getBoomiStatus(AccountSFDCID);
                if(status["status"] == "Completed" ){
                    window.clearInterval(intervalZ);
                    SuccessMsg("#customerIcon", "#infoCustomer", "Account created");
                    sendOpp();
                }
                else if(status["status"] == "Failed"){
                     window.clearInterval(intervalZ);
                     ErrorMsg("Boomi call failed", "#customerIcon", "#infoCustomer", status["message"]);   
                }
                                              
                sendCustomerTimerLoopCnt++;
                if (sendCustomerTimerLoopCnt == 45) {
                    window.clearInterval(intervalZ);
                    ErrorMsg("Boomi call timed out after " + sendCustomerTimerLoopCnt*2 + " seconds", "#customerIcon", "#infoCustomer");
                }
                
            }, 2000);
            
        }       
        
        
        function sendContacts() {
            jqry$("#infoContact").text("Sending Contacts to NetSuite...");
            
            //Update boomi exec control table
            updateBoomiStatus(OpportunitySFDCID);
            
            sforce.connection.remoteFunction(
                {
                    url: BaseURL + "createNSContacts",
                    requestHeaders: requestHeaders,
                    requestData: SendOppMessage,
                    method: method,
                    timeout: timeout,
                    onSuccess: function (response) {
                        sendContactsTimerLoop();
                    },
                    onFailure: function (response) {
                        ErrorMsg ("Contact Creation Failed", "#contactIcon", "#infoContact", response);
                    }
                });
        }
        
        
        function sendContactsTimerLoop() {
            
            var sendContactsTimerLoopCnt = 0;
            var intervalQ = self.setInterval(function() {
                
                 var status  = getBoomiStatus(OpportunitySFDCID);
                if(status["status"] == "Completed" ){
                    window.clearInterval(intervalQ);
                    SuccessMsg("#contactIcon", "#infoContact", "Contact(s) Created");
                    returnFinished();                                                                                                             
                    DoSSO();
                }
                else if(status["status"] == "Failed"){
                    window.clearInterval(intervalQ);
                    ErrorMsg("Boomi call failed", "#contactIcon", "#infoContact", status["message"]);
                }
                
                sendContactsTimerLoopCnt++;
                if (sendContactsTimerLoopCnt == 45) {
                    window.clearInterval(intervalQ);
                    ErrorMsg("Boomi call timed out after " + sendContactsTimerLoopCnt*2 + " seconds", "#contactIcon", "#infoContact");
                }
                
            }, 2000);
            
        }         
        

        function sendOpp() {
            
            //Update boomi exec control table
            updateBoomiStatus(OpportunitySFDCID);  
            var BoomiMethod = "";          
            
            if (SendOpp == '1') {
                jqry$("#infoOpp").text("Sending Opp to NetSuite...");            
                BoomiMethod = "createNSOpportunity";
            }
            else {
                jqry$("#infoOpp").text("Updating Opp in NetSuite...");            
                BoomiMethod = "updateNSOppty";
            }
            
            sforce.connection.remoteFunction(
                {
                    url: BaseURL + BoomiMethod,
                    requestHeaders: requestHeaders,
                    requestData: SendOppMessage,
                    method:method,
                    timeout:timeout,
                    onSuccess: function (response) {
                        sendOppTimerLoop();
                    },
                    onFailure: function (response) {
                        ErrorMsg ("Opportunity Creation Failed", "#oppIcon", "#infoOpp", response);
                    }
                });            
        }
        
        function sendOppTimerLoop() {
            var sendOppTimerLoopCnt = 0;
            var intervalP = self.setInterval(function() {                
                 var status  = getBoomiStatus(OpportunitySFDCID);
                if(status["status"] == "Completed" ){
                    window.clearInterval(intervalP);                                
                    SuccessMsg("#oppIcon", "#infoOpp", "Opportunity Created");
                    sendContacts();
                }
                else if(status["status"] == "Failed"){
                     window.clearInterval(intervalP);
                     ErrorMsg("Boomi call failed", "#oppIcon", "#infoOpp", status["message"]);
                }
                 
                sendOppTimerLoopCnt++;
                if (sendOppTimerLoopCnt == 45) {
                    window.clearInterval(intervalP);
                    ErrorMsg("Timeout", "#oppIcon", "#infoOpp", "Boomi call timed out after " + sendOppTimerLoopCnt*2 + " seconds");
                }
                
            }, 2000);
            
        }          

        function updateBoomiStatus(id) { 
            var updateRecord = new Array();
            var boomiStatus = new sforce.SObject("Boomi_ExeCtrl__c");
            boomiStatus.Status__c = "Pending";
            boomiStatus.fieldsToNull = "Error_Message__c";
            //boomiStatus.Error_Message__c = "";
            boomiStatus.ObjectId__c = id;
            
            updateRecord.push(boomiStatus);                                    
            sforce.connection.upsert("ObjectId__c", updateRecord);  
        }
                
        function getBoomiStatus(id) {
            
            var soqlResult = sforce.connection.query("SELECT Id, Status__c, Error_Message__c FROM Boomi_ExeCtrl__c WHERE ObjectId__c = '" + id + "'");
            var aResult = soqlResult.getArray("records");
            if (aResult.length > 0) {                 
                 return  { status: aResult[0].Status__c, message: aResult[0].Error_Message__c };                                             
            } 
            
            return { status: 'Failed', message: 'Could not find a Boomi Execution Control Entry!' };             
        }
        
        //just display some stuff after all the processing has happening.
        function returnFinished() {
            jqry$("#infoFinalStatus").text("All done!");
            jqry$("#infoNotice").remove();
        }

        function showDialog() {
            //register our newly created div as a dialog
            jqry$("#infoNotice").dialog({
                modal:true,
                closeOnEscape:false,
                width:450,
                height:290,
                close:function () {
                    jqry$(this).dialog("close");
                    jqry$(this).remove();
                }
            });
        }

        function SuccessMsg(icon, info, text) {
            jqry$(icon).toggleClass("ui-state-highlight");
            jqry$(info).text(text);
        }

        function isNullOrEmpty(value) {
            
            return (value === '' || value === null);
            
        }
        
        function ErrorMsg (text, icon, info, response) {
            jqry$(icon).toggleClass("ui-state-error");
            jqry$(info).text(text);            
            
            jqry$("#infoNotice").dialog({
                buttons: {
                    "Ok":function () {
                        if (window.history.length > 0) {
                            history.go(-1);    
                        }
                    },                 
                    "View Error":function () {
                        jqry$("#infoNotice").text(response);
                    }},
                close:function () {
                    if (window.history.length > 0) {
                        history.go(-1);    
                    }
                }  
            });
        }
        
     </script>        
 
    <div id='infoNotice' title='Creating Quote' style="display: none;">
        <div id='infoNoticeUpdate'></div>
        <div id='infoNoticeResult'></div>
        <div id='column1' style='width:130px;height:120px;float:left'>
            <div id='objectECustoms' style='height:20px'>Customs Control</div>
            <div id='objectUser' style='height:20px'>Current User</div>
            <div id='objectOppOwner' style='height:20px'>Opportunity Owner</div>
            <div id='objectCustomer' style='height:20px'>Account</div>
            <div id='objectOpp' style='height:20px'>Opportunity</div>
            <div id='objectContacts' style='height:20px'>Contacts</div>
        </div>
        <div id='columnmid' style='width:40px;height:120px;float:left'>
            <div id='eCustomsIcon' class='ui-state-content' style='background:#f5f3e5;border:0;height:20px'>
                <span class='ui-icon ui-icon-circle-check'></span>
            </div>
            <div id='currentUserIcon' class='ui-state-content' style='background:#f5f3e5;border:0;height:20px'>
                <span class='ui-icon ui-icon-circle-check'></span>
            </div>
            <div id='oppOwnerIcon' class='ui-state-content' style='background:#f5f3e5;border:0;height:20px'>
                <span class='ui-icon ui-icon-circle-check'></span>
            </div>
            <div id='customerIcon' class='ui-state-content' style='background:#f5f3e5;border:0;height:20px'>
                <span class='ui-icon ui-icon-circle-check'></span>
            </div>
            <div id='oppIcon' class='ui-state-content' style='background:#f5f3e5;border:0;height:20px'>
                <span class='ui-icon ui-icon-circle-check'></span>
            </div>
            <div id='contactIcon' class='ui-state-content' style='background:#f5f3e5;border:0;height:20px'>
                <span class='ui-icon ui-icon-circle-check'></span>
            </div>
        </div>
        <div id='column2' style='width:200px;height:120px;float:left'>
            <div id='infoeCustoms' style='height:20px'>Waiting<span id='infoeCustomsStauts'></span></div>
            <div id='infoUser' style='height:20px'>Queued</div>
            <div id='infoOppOwner' style='height:20px'>Queued</div>
            <div id='infoCustomer' style='height:20px'>Queued</div>
            <div id='infoOpp' style='height:20px'>Queued</div>
            <div id='infoContact' style='height:20px'>Queued</div>
        </div>
        <div id='infoFinalStatus' style='height:60px;position:absolute;bottom:-25px'></div>
    </div>    
    
    <div id="framewrapper"></div>
</apex:page>