<apex:page > 
 
<iframe height="700px" width="100%" frameborder="0" id="Qmarketing" name="Qmarketing" src="https://pub.qliktech.com/QvAJAXZfc/opendoc.htm?document=Marketing/Opportunity%20Dashboard.qvw&host=AccessPoint%20Documents"></iframe> 

</apex:page>