<!----------------------------------------------------------------------------------------------------------
Purpose: QCW-3792
Created Date: 28/06/17
Created by: Reshma Ravi
Change log: 19/09/2017
-------------------------------------------------------------------------------------------------------------->
<apex:page standardController="Partner_Category_Status__c" extensions="PartnerCategoryStatusDeleteController" id="Page" >
    <apex:form >
        <apex:actionFunction name="init" action="{!init}"/>
    </apex:form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        alert('You do not have sufficient privileges to delete Partner Category & Status record.');
        init();
    </script>
</apex:page>