<!--
Changelog: May 9 2014  PGE  Modified page layout with new version including conent updates and new gpf links  CR# 12585 /a0CD000000iDjfU         
May 14, 2014: MLN Readded the dynamic autologin link for QChi              
-->

<apex:page title="Global Partner Funding" controller="PPMarketingPortalClass" action="{!getUserInfo}">

<div style="width:200px; float:right; margin-left:10px;">

<!--RELATED RESOURCES 1-->

<div class="module m1">
    <div class="module m2">
        <div class="module m3">
            <div id="uiRowWrapper">
                <div id="uiColWrapper">
                    <div class="bubble blue" id="textBoxWrapper">
                        <div id="uiSingleText">
                            <p><strong>Related GPF Resources</strong><br /><br />
                            <ul class="linkedlist">
                                <li><a href="/sfc/#search?searchTerm=%22GPF_UGuide_ALL%22">GPF Program Guide</a></li>
                                <!--<li><a href="/sfc/#version?selectedDocumentId=069D0000000jcyQ">Leveraging Global Partner Funds to drive revenue</a></li>-->
                                <li><a href="/servlet/servlet.Integration?lid=00bc0000000QlRs&eid={!currUser.ContactId}&ic=1">Apply for GPF</a></li>
                                <li><a href="/servlet/servlet.Integration?lid=00bc0000000QlRs&eid={!currUser.ContactId}&ic=1">Submit a GPF claim</a></li>
                                <li><a href="/servlet/servlet.Integration?lid=00bc0000000QlRs&eid={!currUser.ContactId}&ic=1">View and manage your GPF</a></li>
</ul>
                            </p>
                        </div>
                    <div id="uiFooter"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p>&nbsp;</p>
<!--RELATED RESOURCES 2-->

<div class="module m1">
    <div class="module m2">
        <div class="module m3">
            <div id="uiRowWrapper">
                <div id="uiColWrapper">
                    <div class="bubble blue" id="textBoxWrapper">
                        <div id="uiSingleText">
                            <p><strong>Related Resources</strong><br />
                            <ul class="linkedlist">
                                <li><apex:outputlink value="PPMarketing?SubPage=Campaign">Qonnect Marketing Services</apex:outputlink></li>
                                <li><apex:outputlink value="PPMarketing?SubPage=Brand">Brand Center</apex:outputlink></li>
</ul>
                            </p>
                        </div>
                    <div id="uiFooter"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<h1>Global Partner Funding</h1>

<p></p>

<h2>Co-Marketing with Qlik</h2>

<p>The Global Partner Funding (GPF) Program provides authorized partners with funds to invest in building pipeline for a QlikView business, through approved marketing programs and initiatives.<br />
<a href="/sfc/#search?searchTerm=%22GPF_UGuide_ALL%22">Learn more about the Global Partner Funding (GPF) Program</a></p>

<p>The Global Partner Funding (GPF) tool allows partners to apply, manage and claim for co-marketing funded activities. All Global Partner Funding (GPF) requests must be submitted and managed using the Global Partner Funding (GPF) tool.<br /> 
<a href="/servlet/servlet.Integration?lid=00bD0000001aaNu&eid={!currUser.ContactId}&ic=1" target="_blank" class="external">Access the Global Partner Funding (GPF) tool</a></p>

<h2>Claiming Global Partner Funding (GPF)</h2>

<p>For Global Partner Funding (GPF) for the periods of Q1 2014 and Q2 2014, please process your claim requests <a href="/a3i/o">here</a>.</p>

<p>For Global Partner Funding (GPF) for the periods of Q3 2014 and Q4 2014, please apply, manage and claim for co-marketing funded activities 
<a href="/servlet/servlet.Integration?lid=00bD0000001aaNu&eid={!currUser.ContactId}&ic=1" target="_blank" class="external">here</a>.</p>

<p>If you need any assistance, please contact your local &nbsp;<apex:outputlink value="PPMarketing?SubPage=MarketingContacts">Partner Marketing Manager</apex:outputlink>.</p>

<h3>Partner Funding Process Overview: How It Works</h3>

<p><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/marketing/ppsubmarketing-gpf-program-cycle.jpg" alt="GPF" title="GPF" border="0" width="600" /></p>

</apex:page>