<!--
Author: Marc Littman
Purpose: The page will be displayed as the default News page on the Partner Portal.
Created Date : August 2014
2013-09-04  |  MLN  |  Page Created for CR# 15670  |  Qonnect Portal Maintenance
JNR 04-01-2017 | CR# 97531 - replace landing page and all subpages with message about move to RW
 -->
<apex:page controller="PPMarketingPortalClass" standardstylesheets="false" sidebar="false" title="{!view +' '}News">
<style>

#detail h2 a {
font-size:15px;
color:#252525;
}

span.views {
float:right;
}
</style>
    <apex:form > 
    
    <div id="main">
                    <div class="clearfix">
<!--LEFT SIDEBAR-->                 
            
<!--SIDENAV-->                      

<!--END LEFT SIDEBAR-->
<!--RIGHT COLUMN HEADER-->

                        <div id="detail">
                            <div class="detailLeft">
                                <div class="detailRight">

<!--
<div class="head-standard head-hero">
    <h2>
        {!view +' News'}
    </h2>
    <h1>News</h1>
</div>
-->

                                    <div class="clearfix">
                                    
    
<!--RIGHT COLUMN CONTENT-->
                                        <div class="nowrap">   
                                        
<!-- Start Sidebar Promo's -->

                                <!--div class="col227right ml50">
                                
                                <div class="module m1"><div class="module m2"><div class="module m3">
    <div id="uiRowWrapper">
            <div id="uiColWrapper"><span><span>
        <div id="uiBoxWrappervst" class="bubble blue">
            <div id="uiBoxHeader">
                <div id="uiLeftHeader"><h1>News Links</h1></div>
            </div>
            <div id="uiBoxContent">
                    <a href="ppNews">Current News</a><br />
                    <a href="ppNews?view=Archived">Archived News</a><br />
                    <a href="ppNews?view=All">All News</a>
            </div>            
            <div rendered="true" id="uiFooter"></div>    
        </div></span></span><span></span>
            </div>
 
    </div>
</div></div></div>
                                
                                
                                

                                </div-->
                          
<!-- End Sidebar Promo's -->  
                                                                     
<!--CENTER CONTENT-->                                                                                       


                <!-- Subpages start here -->
                <!--  Section for  Introduction Starts here -->

<div class="roundedcorners" style=" border:2px solid #F8981D; padding:10px 10px 0px 10px; width:1000px;">  

    <div class="floatleft mr10"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/Partner%20Icons/Information-Color.png" width="30" style="vertical-align:middle; padding-left:10px; padding-right:10px; padding-bottom:5px" /></div>
    <div class="nowrap"><strong>New Partner Portal!</strong><br />
    Get ready to change the way you see Qlik! <a href="http://partners.qlik.com">Please visit the new Partner Portal.</a><br /><br />
    <strong>Highlights:</strong><br />
    &bull; Fresh user interface.<br />
    &bull; More personalized experience empowers you to:<br />
    &nbsp; &nbsp; - opt into content you wish to see and<br />
    &nbsp; &nbsp; - get faster access to the tools you need.<br />
    &bull; Site wide search resulting in better results.<br />
    &bull; Modern mobile device friendly.
    </div>

</div>


               

            </div>
<!--END CENTER CONTENT-->                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </apex:form>
</apex:page>