<apex:page controller="PPMarketingPortalClass" tabStyle="pp_Sales__tab" showHeader="false" sidebar="false">
	<link rel="stylesheet" href="https://login.qlikview.com/external/prm/css/screen.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="https://login.qlikview.com/external/prm/css/partnerportal.css" type="text/css" media="screen" />
<style>
body {
background:none !important;
}
</style>

                            <div class="module m1">
                                <div class="module m2">
                                    <div class="module m3 searchmodule">
                                        <h3>Search Salesforce</h3>
                                        <div class="clearfix p6">
										<apex:form >
                                            <c:SearchComponent /> 
 										</apex:form>
                                        </div>
                                    </div>
                                </div>
                            </div>
</apex:page>