<apex:page >
<h1>Manage Your Credentials</h1>

<!-- SUB NAV  -->
<div style="width:225px; padding:10px; border:1px solid #efefef; float:right; margin-left:25px;">
<img src="http://global.qlikview.com/reskin/images/bg_bullets_dark_gray.gif" />&nbsp;<b>Certification Exams</b><br />
<img style="margin-left:15px;" src="http://global.qlikview.com/reskin/images/bg_bullets.gif" />&nbsp;<apex:outputlink value="PPEducation?SubPage=ppSubEducationCertDesign">Designer</apex:outputlink><br />
<img style="margin-left:15px;" src="http://global.qlikview.com/reskin/images/bg_bullets.gif" />&nbsp;<apex:outputlink value="PPEducation?SubPage=ppSubEducationCertDev">Developer</apex:outputlink><br />
<img style="margin-left:15px;" src="http://global.qlikview.com/reskin/images/bg_bullets.gif" />&nbsp;<apex:outputlink value="PPEducation?SubPage=ppSubEducationCertAdmin">System Administrator</apex:outputlink><br />
<img src="http://global.qlikview.com/reskin/images/bg_bullets_dark_gray.gif" />&nbsp;<apex:outputlink value="PPEducation?SubPage=ppSubEducationCertGain">Gain Competitive Advantage</apex:outputlink><br />
<img src="http://global.qlikview.com/reskin/images/bg_bullets_dark_gray.gif" />&nbsp;<apex:outputlink value="PPEducation?SubPage=ppSubEducationCertExam">Register for an Exam</apex:outputlink><br />
<!--<img src="http://global.qlikview.com/reskin/images/bg_bullets_dark_gray.gif" />&nbsp;<apex:outputlink value="PPEducation?SubPage=ppSubEducationCertCreds">Manage Your Credentials</apex:outputlink><br />-->
<img src="http://global.qlikview.com/reskin/images/bg_bullets_dark_gray.gif" />&nbsp;<apex:outputlink value="PPEducation?SubPage=ppSubEducationCertFAQ">Certification FAQs</apex:outputlink><br />
</div>

<!-- MAIN CONTENT  -->
<p>When you register for a QlikView Designer or QlikView Developer Certification examination, you will be given access to <a href="https://i7lp.integral7.com/qliktech">QlikView CertTracker</a>. After you pass your QlikView Designer or QlikView Developer Certification examination, you can download official certification logos, print your certificate and share your credentials with a third party.</p>

<p>QlikView System Administrators use <a href="http://www.qlikview.com/us/services/training/my-training">MyTraining</a> to view and manage their credential. After you pass the QlikView System Administrator Certification examination, you can download your certificate.</p>

</apex:page>