<!----------
 History Log:
 2015-01-26 PGE  CR# 22260 update/repurpose retired qvmobile page to nprinting
 2015-01-27 JNR CR 22260 updated with nprinting resources Demo through Support
 2015-04-20 JNR CR 36165 added NPrinting SBE docs
---------->

<apex:page title="QlikView NPrinting">

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="https://qvfiles.s3.amazonaws.com/partner_portal/js/animatedcollapse.js"></script>

<script type="text/javascript">
animatedcollapse.addDiv('position', 'fade=1')
animatedcollapse.addDiv('demo', 'fade=1')
animatedcollapse.addDiv('sell', 'fade=1')
animatedcollapse.addDiv('implement', 'fade=1')
animatedcollapse.addDiv('nptutorials', 'fade=1')
animatedcollapse.addDiv('npknowledgebase', 'fade=1')

animatedcollapse.ontoggle=function($, divobj, state){ //fires each time a DIV is expanded/contracted
    //$: Access to jQuery
    //divobj: DOM reference to DIV being expanded/ collapsed. Use "divobj.id" to get its ID
    //state: "block" or "none", depending on state
}

animatedcollapse.init()
</script>

<style>
#inlineexternal { background: url('https://login.qlik.com/external/prm/images/icons/icon_external.png') center right no-repeat; padding-right: 18px; margin-left:0px !important;}
}
</style>

<!--SIDEBAR-->
<div style="width:200px; float:right; margin-left:10px; height:800px;">


<!--RELATED RESOURCES SPECIAL PROMO-->

<div class="module m1">
    <div class="module m2">
        <div class="module m3">
            <div id="uiRowWrapper">
                <div id="uiColWrapper">
                    <div class="bubble blue" id="textBoxWrapper">
                        <div id="uiSingleText">
                            <p><strong>QlikView NPrinting</strong>
                            <ul class="linkedlist">
                                <p>Sales Enablememt Webcast</p>
                                <p><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/resource_library/pp-sidepromo-nprinting-laptop2.jpg" border="0" /></p>
                                <p><a target="_blank" href="/apex/PPEducation?SubPage=Recent&utm_source=ppQVNprintingRight&utm_medium=promo1&utm_campaign=NPrintingWebinar">View Now!</a></p>
</ul>
                            </p>
                        </div>
                    <div id="uiFooter"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--RELATED RESOURCES 1-->

<div class="module m1">
    <div class="module m2">
        <div class="module m3">
            <div id="uiRowWrapper">
                <div id="uiColWrapper">
                    <div class="bubble blue" id="textBoxWrapper">
                        <div id="uiSingleText">
                            <p><strong>Related Resources</strong>
                            <ul class="linkedlist">
                                <li><a target="_blank" href="https://community.qlik.com/community/qlikview/resource-library/content?filterID=contentstatus[published]~category[qlikview-nprinting]">QlikView NPrinting on Qlik Community</a></li>
                                <li><a target="_blank" href="http://www.qlik.com/us/explore/products/qlikview/nprinting">Qlik.com (NPrinting page)</a></li>
                                <li><a target="_blank" href="https://youtu.be/esvHwG9WbKI">QlikView NPrinting Product Tour - YouTube</a></li>
                                <li><a target="_blank" href="https://www.youtube.com/playlist?list=PLkRFvjyuHFvK_2RayoBbsYgYfgI4KqKIL">QlikView NPrinting Videos - YouTube</a></li>
</ul>
                            </p>
                        </div>
                    <div id="uiFooter"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--RELATED RESOURCES 2-->

<div class="module m1">
    <div class="module m2">
        <div class="module m3">
            <div id="uiRowWrapper">
                <div id="uiColWrapper">
                    <div class="bubble blue" id="textBoxWrapper">
                        <div id="uiSingleText">
                            <p><strong>Learn</strong><br />
                            These technical webinars are aimed at partners and customers<br />
                            <ul class="linkedlist">
                                <li><a target="_blank" href="https://qliktech.webex.com/qliktech/lsr.php?RCID=602ead426e7a4475b6b737b302e57293">QlikView NPrinting Basic</a></li>
                                <li><a target="_blank" href="https://qliktech.webex.com/qliktech/lsr.php?RCID=3a7b926c68104f7fb1ae0c9b42a5240c">QlikView NPrinting Advanced</a></li>
</ul>
</p>
                        </div>
                    <div id="uiFooter"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--RELATED RESOURCES 3-->

<!--div class="module m1">
    <div class="module m2">
        <div class="module m3">
            <div id="uiRowWrapper">
                <div id="uiColWrapper">
                    <div class="bubble blue" id="textBoxWrapper">
                        <div id="uiSingleText">
                            <p>
                             <strong>Check out our Partner FAQs</strong></p>
                             <ul class="linkedlist">
                                <li><apex:outputlink value="/069D0000002SIC1">Current NPrinting Partners</apex:outputlink></li>
                                <li><apex:outputlink value="/069D0000002SIC6">Partners new to NPrinting</apex:outputlink></li>
                            </ul>
                        </div>
                    <div id="uiFooter"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div-->

</div>

<hr style="margin-bottom:15px;" color="#efefef" width="75%" size="1" />

<div class="nowrap">
            
            <!--div class="clearfix">
                <div class="floatleft mr20"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/Partner%20Icons/Demo_color.png" width="53" alt="Demo"/></div>
                <div class="nowrap">
                    <h2 class="nomargin">Demo</h2>
                    <p>Sample demos and videos</p>
                    <p><a href="#" rel="toggle[demo]" data-openimage="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/collapse.png" data-closedimage="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/expand.png"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/expand.png" border="0" /></a>&nbsp;<a href="javascript:animatedcollapse.toggle('demo')"><b>More Info</b></a></p>

<div id="demo" style="width: 475px; background: #ffffff; display:none">
<p><a target="_blank" href="http://qvfiles.s3.amazonaws.com/training/nprinting/NP_Training.zip">Set up your Demo environment</a><br />A complete environment for demonstrating NPrinting benefits to potential customers and prospects, also useful for developing proof of concepts.  Download the .zip file and decompress it into the folder C:\NPrintingTraining. Launch NPrinting, open the file C:\NPrintingTraining\NPrintingFiles\NPrintingTraining.nsq and start exploring the examples.</p>
<p><a target="_blank" href="https://youtu.be/esvHwG9WbKI">YouTube Video</a></p>

</div>
                
            </div>
        </div-->
        
        <div class="hr"></div>
            
            <div class="clearfix">
                <div class="floatleft mr20"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/Partner%20Icons/Consulting_color.png" width="53" alt="Implement"/></div>
                <div class="nowrap">
                    <h2 class="nomargin">Implement</h2>
                    <p>Resources to support successful implementations</p>
                    <p><a href="#" rel="toggle[implement]" data-openimage="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/collapse.png" data-closedimage="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/expand.png"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/expand.png" border="0" /></a>&nbsp;<a href="javascript:animatedcollapse.toggle('implement')"><b>More Info</b></a></p>

<div id="implement" style="width: 475px; background: #ffffff; display:none">
<p>These tutorials will provide you the base knowledge needed to install and set up NPrinting.  We <i><b>strongly</b></i> recommend you follow these tutorials before demonstrating or implementing the NPrinting solution for your prospects and customers.</p>
<p><a target="_blank" href="https://qvfiles.s3.amazonaws.com/partner_portal/images/resource_library/Infographic%20QlikView%20NPrinting.jpg">1. Architecture Diagram</a></p>
<p><a target="_blank" href="http://demo.qlik.com/download">2. Install NPrinting Release 14.x and Later</a></p>
<p><a target="_blank" href="https://community.qlik.com/docs/DOC-8431">3. How to set up email in NPrinting</a><br />NPrinting, not only generates your reports, but also distributes them. This can be done by attaching them to an e-mail message, but you need to set several e-mail parameters In order to send your reports as e-mail attachments.</p>
<p><a target="_blank" href="https://community.qlik.com/docs/DOC-13997">4. How to connect to QlikView documents</a><br />The first thing to do before creating reports is to create a connection to a QlikView document. The connection must be set up on file creation but you can also add new connections or modify existing ones for each of your NPrinting files at a later time. You can access QlikView documents which are either saved locally on your computer or remotely on a server to which you have access.</p>
<p><a target="_blank" href="https://community.qlik.com/docs/DOC-8414">5. How to reload Data into your QlikView document</a><br />NPrinting will reload data into your locally saved QlikView documents. Reload, Partial Reload, and Reduce Tasks can only be run using connections to locally saved QVWs and not over connections through QlikView Enterprise Server or Small Business Edition. Reload Tasks are typically run to update the data in a QlikView document before generating reports.</p>
<p><a target="_blank" href="https://community.qlik.com/docs/DOC-8388">6. How to create Excel reports</a><br />This tutorial illustrates the new capabilities of the latest NPrinting version when creating Excel reports</p>
<p><a target="_blank" href="https://community.qlik.com/docs/DOC-8385">7. How to create static and dynamic filters based on fields</a><br />Static filters based on field values can be created in NPrinting and so can dynamic filters based on expressions in QlikView syntax. Filters based on fields can use both existing field values and also values which do not currently exist in the data. Dynamic filters use QlikView syntax expressions which are calculated at run time and then applied to the filter field.</p>
<!--<p><a target="_blank" href="http://community.vizubi.com/knowledgebase/articles/262191-launch-report-preview-directly-from-template-edito">8. Launch report preview directly from template editor</a><br />Previous versions of NPrinting required saving your work and closing Template Editor before you could preview your work. To make further adjustments, you had to close the program you were previewing in and reopen Template Editor. Now you can preview directly from Template Editor in the output format that you desire available for the template. To make adjustments to your template, you only need to close the program you are previewing in. Here is how.</p>-->
<p><a target="_blank" href="https://community.qlik.com/docs/DOC-8387">8. How to distribute User Specific QlikView reports by email</a><br />NPrinting allows you to create reports which are filtered according to parameters you set for your recipients. These reports can then be sent as e-mail attachments to the appropriate recipient e-mail address. Output to be sent can be in PDF or an image format such as JPEG or PNG. We show how to distribute QlikView reports as e-mail attachments in this example.</p>
<p><a target="_blank" href="https://community.qlik.com/community/qlikview/resource-library/content?filterID=contentstatus[published]~category[qlikview-nprinting]">Find answers to more QlikView NPrinting questions</a></p> 

</div>
                                            
                    </div>
                </div>
                
                <div class="hr"></div>
                
                <div class="clearfix">
                    <div class="floatleft mr20"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/Partner%20Icons/Support_color.png" width="43" border="5" alt="Support" style="margin-left:10px;"/></div>
                    <div class="nowrap">
                        <h2 class="nomargin">Support</h2>
                        <p>Learn about QlikView support services, or get help through the channels listed <a href="{!$Setup.QS_Partner_Portal_Urls__c.Support_Portal_Url__c}QS_AboutUs" target="_blank">here</a>.</p>
                        <p><strong>QlikView NPrinting 16 End of Life 16 February 2018</strong>:<br />
                        <a target="_blank" id="inlineexternal" href="https://community.qlik.com/blogs/supportupdates/2016/05/12/when-is-end-of-life-for-qlikview-11-and-nprinting-16-read-this">Learn more</a> about QlikView 16 End of Life.</p>
                   </div>
                </div>
                
                <div class="hr"></div>
                
                <div class="clearfix">
                    <div class="floatleft mr20"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/Partner%20Icons/PrintedChart_color.png" width="43" border="5" alt="Training and Enablement" style="margin-left:10px;"/></div>
                    <div class="nowrap">
                        <h2 class="nomargin">Training and Enablement for Technical Users</h2><br /><br />
                        <h3>NPrinting Tutorials for Installation</h3><br />
                          <p>These tutorials will provide you the base knowledge needed to install and set up NPrinting. We <b><u>strongly</u></b> recommend you follow these tutorials before demonstrating 
                          or implementing the NPrinting solution for your prospects and customers.</p>
                          
                          <p><a href="#" rel="toggle[nptutorials]" data-openimage="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/collapse.png" data-closedimage="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/expand.png"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/expand.png" border="0" /></a>&nbsp;<a href="javascript:animatedcollapse.toggle('nptutorials')"><b>More Info</b></a></p>

            <div id="nptutorials" style="width: 475px; background: #ffffff; display:none">
                 <ol>
                  <li><a target="_blank" href="http://demo.qlik.com/download">Install NPrinting Release 14.x and Later</a></li> 
                  <li><a target="_blank" href="https://community.qlik.com/docs/DOC-8431">How to set up email in NPrinting</a></li> 
                  <li><a target="_blank" href="https://community.qlik.com/docs/DOC-13997">How to connect to QlikView documents</a></li> 
                  <li><a target="_blank" href="https://community.qlik.com/docs/DOC-8414">How to reload Data into your QlikView document</a></li> 
                  <li><a target="_blank" href="https://community.qlik.com/docs/DOC-8388">How to create Excel reports</a></li> 
                  <li><a target="_blank" href="https://community.qlik.com/docs/DOC-8385">How to create static and dynamic filters based on fields</a></li> 
                  <li><a target="_blank" href="https://community.qlik.com/docs/DOC-8387">How to distribute User Specific QlikView reports by email</a></li>
                  <li><a target="_blank" href="https://qliktech.webex.com/ec3000/eventcenter/recording/recordAction.do?siteurl=qliktech&theAction=poprecord&path=pop_program_info&recordID=75023282&internalRecordTicket=4832534b0000000261d92c6528918e66417ef0514e2881fa6c03c41c0560d89392f1bcf90d7f5e35">Basic Technical Training</a><br />Watch the 2 hour sessions to learn how to create a complete reporting project using QlikView NPrinting with data from your QlikView applications. This session is for beginning users of QlikView NPrinting.</li>
                  <li><a target="_blank" href="https://qliktech.webex.com/ec3000/eventcenter/recording/recordAction.do?siteurl=qliktech&theAction=poprecord&path=pop_program_info&recordID=75083992&internalRecordTicket=4832534b000000028ac21ee1029079da960ee7b8cdc290c23f9bc2af22cad9305d0a765481f2b5df">Advanced Technical Training</a><br />This session will explore advanced capabilities of QlikView NPrinting and is for more advanced users of QlikView NPrinting.</li>
                 </ol>
              </div>
                        
                        <h3>NPrinting Knowledge Base - Key Topics</h3><br />
                        <p>We've selected key articles for your ongoing learning and recommend you view them in the order listed below.  Do be sure to explore the wealth of information in <a target="_blank" href="https://community.qlik.com/community/qlikview/resource-library/content?filterID=contentstatus[published]~category[qlikview-nprinting]">Qlik Community</a>!</p>
                        
                        <p><a href="#" rel="toggle[npknowledgebase]" data-openimage="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/collapse.png" data-closedimage="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/expand.png"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/expand.png" border="0" /></a>&nbsp;<a href="javascript:animatedcollapse.toggle('npknowledgebase')"><b>More Info</b></a></p>

                        <div id="npknowledgebase" style="width: 475px; background: #ffffff; display:none">
                        <p>Activation and Connections</p>
                            <ul>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-8410">Activate or Reactivate NPrinting Client</a></li>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-8438">Configure Options</a></li>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-8415">How to Configure NPrinting Service</a></li>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-13997">How do I connect to my QlikView documents?</a></li>
                                </ul>
                                
                        <p>Excel Reports</p>
                            <ul>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-8388">How to create excel reports</a></li>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-13520">Can I apply Excel formatting to my Excel reports?</a></li>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-13583">How to Use the Page Feature in Excel and PowerPoint Report Templates</a></li>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-13583">How to Create One or More Levels in Excel Reports</a></li>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-13522">How to Create Simple Excel Reports with Objects from Multiple QlikView Documents</a></li>
                                </ul>
                                
                        <p>Power Point</p>
                            <ul>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-8411">How to Create PowerPoint Reports</a></li>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-13582">How to Use Pages to Generate Individual Slides in PowerPoint for Each Combination of Multiple Field Values</a></li>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-14009">How to Create a PowerPoint Chart using Native QlikView Tables</a></li>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-13581">How to Insert a Native Table in PowerPoint Reports</a></li>
                                </ul>
                        
                        <p>HTML</p>
                            <ul>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-13499">How to Apply HTML Formatting to NPrinting HTML Reports</a></li>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-13521">How to Embed an HTML Report into the Body of an E-mail Message</a></li>
                                </ul>
                        
                        <p>Pixel Perfect</p>
                            <ul>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-8452">Understanding PixelPerfect Features</a></li>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-8405">How to Create a Simple PixelPerfect Report</a></li>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-13986">How to Create PixelPerfect Charts</a></li>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-14002">How to Add Totals and Subtotals to PixelPerfect Reports</a></li>
                                </ul>
                        
                        <p>Recipients</p>
                            <ul>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-8390">How to Create and Import Recipients with Filters and Distribution Groups</a></li>
                                </ul>
                        
                        <p>Filters</p>
                            <ul>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-8385">How to Create Static and Dynamic Filters Based on Fields</a></li>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-13999">How to Add Filters to Recipients</a></li>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-13993">Creating NPrinting Filters Based on Existing QlikView Bookmarks</a></li>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-13989">How to Set a QlikView Variable to a Specific Value Using Filters</a></li>
                                </ul>
                       
                        <p>Tasks &amp; Schedules</p>
                            <ul>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-13557">How to Create Tasks</a></li>
                                <li><a target="_blank" href="https://community.qlik.com/docs/DOC-13573">How to Schedule Jobs</a></li>
                                </ul>
                        
                        </div>

                         
                   </div>
                </div>
                                    
</div>

</apex:page>