<apex:page >
    <!--RIGHT COLUMN CONTENT-->
    
   <div class="nowrap">

         <div class="clearfix">
            <div class="floatleft mr20"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/marketing/MDF-Logo-Web.png" width="63" alt="Global Partner Funding"/></div>
            <div class="nowrap">
                <h2 class="nomargin">Market Development Fund Program</h2>
                <p>Partner Market Development Fund Program is a discretionary program available to eligible Partners to drive revenue and pipeline.</p>
                <a href="/apex/PPMarketing?SubPage=PartnerMDF" class="litebluearrow">Go to the Market Development Fund Program</a>
            </div>
        </div>

        <div class="hr"></div>
 
          <div class="clearfix">
            <div class="floatleft mr20"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/Partner%20Icons/engine_color.png" width="53" style="PADDING-LEFT: 10px" alt="Go to Market Streams"/></div>
            <div class="nowrap">
                <h2 class="nomargin">Market with Qlik</h2>
                <p>Become equipped to go to market with strength and conviction, and stand out to your prospects and customers as a Qlik partner.</p>
                <a href="/apex/PPMarketing?SubPage=GoToMarket" class="litebluearrow">Go to Market with Qlik</a>
            </div>
        </div> 
                
        <div class="hr"></div>
                
        <div class="clearfix">
            <div class="floatleft mr20"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/Partner%20Icons/CampaignCenter_color.png" width="63" alt="Campaign Center"/></div>
            <div class="nowrap">
                <h2 class="nomargin">Qlik Partner Marketing Services</h2>
                <p>Ready to go to market with Qlik? Explore campaign kits, web content, product downloads, social media, and co-branded assets. Free of charge, these services provide customizable in-language content that is simple and quick to execute.</p>
                <a href="/apex/PPMarketing?SubPage=MarketingServices" class="litebluearrow">Go to Partner Marketing Services</a>
            </div>
        </div>
                
        <div class="hr"></div>

        <div class="clearfix">
            <div class="floatleft mr30"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/Partner%20Icons/BrandCenter_color.png" width="43" style="PADDING-LEFT: 10px" alt="Brand Center"/></div>
            <div class="nowrap">
                <h2 class="nomargin">Brand Center</h2>
                <p>Learn all about how to use the Qlik brand and explore other guidelines, tools &amp; templates.</p>
                <a href="/apex/PPMarketing?SubPage=Brand" class="litebluearrow">Go to Brand Center</a>
            </div>
        </div>

        <div class="hr"></div>
        
         <div class="clearfix">
            <div class="floatleft mr20"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/Partner%20Icons/OrderCart-Color.png" width="53" style="PADDING-LEFT: 10px" alt="QlikStore"/></div>
            <div class="nowrap">
                <h2 class="nomargin">Qlik Store</h2>
                <p>The new Qlik Store has been designed to meet your merchandise and promotional needs. </p>
                <a href="/apex/PPMarketing?SubPage=QlikStore" class="litebluearrow">Go to the Qlik Store</a>
            </div>
        </div>          
                                                                                         
                                     
    </div>
    <!--END RIGHT COLUMN CONTENT-->
</apex:page>