<!-- 2015-04-22 CR 36540 JNR - removed Quarterly Newsletter as no longer issued-->
<!-- 2015-07-30 CCE CR# 48632 Update Qlik Partner Network center URLs -->
<apex:page >
<div style="width:200px; float:right; margin-left:10px;">

<!--RELATED RESOURCES END-->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="https://qvfiles.s3.amazonaws.com/partner_portal/js/animatedcollapse.js"></script>

<script type="text/javascript">
animatedcollapse.addDiv('insightarchive', 'fade=1,speed=200,group=countries')

animatedcollapse.ontoggle=function($, divobj, state){ //fires each time a DIV is expanded/contracted
    //$: Access to jQuery
    //divobj: DOM reference to DIV being expanded/ collapsed. Use "divobj.id" to get its ID
    //state: "block" or "none", depending on state
}

animatedcollapse.init()
</script>

<style>
.countryDDs {
margin-left:15px;
}

#inlineexternal { background: url('https://login.qlik.com/external/prm/images/icons/icon_external.png') center right no-repeat; padding-right: 18px; margin-left:0px !important;}
}
</style>

</div>

<div style="width:850px;">
    <div class="clearfix">

    <h1>Qlik<sup>&reg;</sup> Partner Network Communications</h1>

    <h2><font style="color:#62ac1e;"><strong>Stay Tuned in to the Qlik Partner Network</strong></font></h2>
<!--                                    
<div style="background-color:#def1fc; border:1px solid #98c3dc; padding:10px 10px 0px 10px; width:600px;"><p style="color: #047dc5; font-weight: bold;">System Upgrade Alert:</p> 
<p style="color: #047dc5;">Obtaining Diplomas and Course History</p> 
<p style="color:#333333;">
The Education Services ‘Find Training’ and ‘Recommended Courses’ pages were recently upgraded to better serve you. If you have participated in training prior to the upgrade, to obtain your diplomas and course records, please contact your <a target="_blank" href="http://www.qlik.com/services/training/training-contacts">local training manager</a>.</p>
</div>

<hr style="margin-bottom:15px;" color="#efefef" width="100%" size="1" />-->

    <!--<div class="floatleft mr20"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/Partner%20Icons/Megaphone_color.png" width="53" alt="Marketing News"/></div>
    <div class="nowrap">
        <p style="font-size:16px">Qlik<sup>&reg;</sup> believes that strategic communications play a fundamental role in driving business and generating demand for both our organization and 
        our valued partners. Join the <a target="_blank" href="https://www.linkedin.com/groups?home=&gid=4212588&trk=anet_ug_hm">Qlik Partner Network Community on Linked In</a> and stay informed through our additional global communications vehicles.</p>
    </div>-->
    </div>
</div>
    <div class="hr"></div>

<!--RELATED RESOURCES BEGIN-->

<!--div style="width:200px; float:right; margin-left:10px;">
    <div class="module m1">
        <div class="module m2">
            <div class="module m3">
                <div id="uiRowWrapper">
                    <div id="uiColWrapper">
                        <div class="bubble blue" id="textBoxWrapper">
                            <div id="uiSingleText">
                                <h2><strong><apex:outputlink value="/069D0000002TV7p">Hot Topics</apex:outputlink></strong></h2>
                                <apex:outputlink value="/069D0000002TV7p"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/Partner%20Icons/SocialCollaboration-color.png" width="120" style="vertical-align:middle; padding-left:35px; padding-right:35px; padding-bottom:5px" /></apex:outputlink>
                                <p>The latest in Qlik news, product and partner enablement information.</p>
                            </div>
                        <div id="uiFooter"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div-->

<div class="nowrap">
        <div class="clearfix">
            <div class="floatleft mr20"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/Partner%20Icons/Megaphone_color.png" width="53" alt="PartnerNetwork"/></div>
            <div class="nowrap">
                <h2 class="nomargin"><font style="color:#62ac1e;">Register</font> for Qlik Partner Network Live!</h2>
                <p>Attend this quarterly virtual event series to stay informed of important priorities for the Qlik Partner Network to support your success and business growth with Qlik. Sign up for a session in your region today:
                    <ul>
                    <li><a target="_blank" href="/apex/PPEducation?SubPage=Upcoming">Register Now</a></li>
                    <li><a target="_blank" href="/apex/PPEducation?SubPage=Recent">View Recordings</a></li>
                    </ul>
                </p>
            </div>
        </div>

    <!--<p>Engage in this forum to celebrate previous quarters’ successes and stay informed of important priorities for the Qlik Partner Network for the next quarter and beyond. <a target="_blank" href="/apex/PPEducation?SubPage=Upcoming">Register</a> for upcoming webinars. If you missed the session or would like to access the information shared you can <a target="_blank" href="/apex/PPEducation?SubPage=Recent">view recordings on-demand.</a></p>-->

        <div class="clearfix">
            <div class="floatleft mr20"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/Partner%20Icons/Email_color.png" width="53" alt="Email"/></div>
            <div class="nowrap">
                <h2 class="nomargin"><font style="color:#62ac1e;">Subscribe</font> to email updates</h2>

                    <p><strong>Global Announcements</strong><br />
                    Periodic, strategic announcements focus on topics including latest Qlik product releases, Qlik Product Platform information and Qonnections 2016 updates.</p>

                    <p><strong><a href="#Insights">Partner Insights</a></strong><br />
                    Delivered to you in an easy-to-consume format, this monthly newsletter highlights top program, product, sales, marketing, and enablement news.</p>

                    <!--p><strong>Partner Spotlight on Success</strong><br />
                    Get monthly emails that celebrate partner achievements and contributions to Qlik including award winners and <a target="_blank" href="/apex/{!$label.ppQlikPartnerNetwork}?SubPage=PartneringResults">Smart Partnering</a> use cases.</p-->

                    <p><strong><a target="_blank" id="inlineexternal" href="http://login.qlik.com/external/community.aspx?u=https://community.qlik.com/community/qlikview/support/tech-support-thursdays">Tech Support Thursdays</a></strong><br />
                    Tech Support Thursdays is a free webinar built to extend Qlik support offerings with the purpose of facilitating knowledge sharing with partners. The webinars focus on troubleshooting and how-to’s, and are held on the third Thursday of each month (exceptions may apply). By subscribing, you will receive invitations to attend.

                    <ul>
                    <li><a target="_blank" id="inlineexternal" href="http://go.qlik.com/Global-Partner-Comms-Subscriptions.html">Manage your Subscriptions</a></li>
                    <li><a style="COLOR: #007fc0" href="#Insights">Access the Global Partner Communications Archive</a></li>
                    </ul></p>

        <div class="hr"></div>
                </div>
            </div>


        <div class="clearfix">
            <div class="floatleft mr20"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/Partner%20Icons/TalkBubble_color.png" width="53" alt="Social"/></div>
            <div class="nowrap">
                <h2 class="nomargin"><font style="color:#62ac1e;">Get Social</font></h2>

                <p style="clear:left;">&nbsp;</p>

                    <div class="floatleft ml20 mr20"><img src="https://login.qlik.com/external/prm/images/icons/facebook.png" width="20" alt="Facebook"/></div>
                    <p><a target="_blank" id="inlineexternal" href="https://www.facebook.com/QlikPartners">“Like” Qlik Partners on Facebook</a></p>

                    <div class="floatleft ml20 mr20"><img src="https://login.qlik.com/external/prm/images/icons/linkedin.png" width="20" alt="LinkedIn"/></div>
                    <p>Join the <a target="_blank" id="inlineexternal" href="https://www.linkedin.com/groups?home=&gid=4212588&trk=anet_ug_hm">Qlik Partner Network Linked In group</a></p>

        <div class="hr"></div>
                </div>
            </div>

    <h2><font style="color:#62ac1e;"><strong>Keep Connected and Stay Informed</strong></font></h2>

        <div class="clearfix">
            <div class="floatleft mr20"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/Partner%20Icons/FastTrackWebinar_color.png" width="53" alt="FastTrack"/></div>
            <div class="nowrap">
                <h2 class="nomargin"><font style="color:#62ac1e;">Fast Track Learning Webinars</font></h2>

                    <p><strong>Sharpen your skills and deepen your knowledge with Fast Track Learning Webinars</strong><br />
                    Fast Track Learning Webinars cover a range of technical and sales topics focused on solutions, competition, sales programs, marketing, and more.

                    <ul>
                    <li><a target="_blank" href="/apex/PPEducation?SubPage=Enablement">View upcoming webinars and register now</a></li>
                    <li><a target="_blank" href="/apex/PPEducation?SubPage=Recent">View On-Demand Recordings</a></li>
                    </ul></p>

        <div class="hr"></div>
                </div>
            </div>

        <div class="clearfix">
            <div class="floatleft mr20"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/Partner%20Icons/Schedule_color.png" width="53" alt="FastTrack"/></div>
            <div class="nowrap">
                <h2 class="nomargin"><font style="color:#62ac1e;">News and Events</font></h2>

                    <p>The <a target="_blank" href="http://partners.qlik.com">Qlik Partner Portal</a> is your go-to source for latest news, information and resources to support your success and business growth with Qlik. The latest news and events are listed on the <a target="_blank" href="/apex/PPHome">Home Page</a> for easy access when you login. You can find more news and upcoming virtual and in-person events on the <a target="_blank" href="/apex/ppNews">News</a> and <a target="_blank" href="/apex/ppEvents">Events</a> pages of the Partner Portal.
                    <ul>
                    <li><a target="_blank" href="/apex/ppNews">Recent News</a></li>
                    <li><a target="_blank" href="/apex/ppEvents">Upcoming Events</a></li>
                    </ul></p>

        <div class="hr"></div>
                </div>
            </div>

        <p><a style="VISIBILITY: hidden; TEXT-DECORATION: none" id="Insights" class="Insights" title="Insights" name="Insights" alias="Insights"></a></p>

        <div class="clearfix">
            <div class="floatleft mr20"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/Partner%20Icons/Sheet_color.png" width="53" alt="Insights"/></div>
            <div class="nowrap">
                <h2 class="nomargin"><font style="color:#62ac1e;">Qlik Partner Network – Communications Archive</font></h2>

                <p>Find communications you missed below, and <a target="_blank" id="inlineexternal" href="http://go.qlik.com/Global-Partner-Comms-Subscriptions.html">sign up</a> for future communications.</p>

                <p><a href="http://learn.qlik.com/v/ZMwtH0L850200n0UP20OKBx" target="_blank">Insights - January 2017</a><br />
                <a target="_blank" href="http://learn.qlik.com/v/o02iw00V200AHB2tUKM5nO0"><I>Insights</I> - December 2016</a><br />

                </p>

                <!--Insights Archive Sliding Div Begin-->
                <p><a href="#" rel="toggle[insightarchive]" data-openimage="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/collapse.png" data-closedimage="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/expand.png"><img src="https://qvfiles.s3.amazonaws.com/partner_portal/images/product_support/expand.png" border="0" /></a>&nbsp;<a href="javascript:animatedcollapse.toggle('insightarchive')"><b>More Insights</b></a></p>

                <div id="insightarchive" style="width: 475px; background: #ffffff; display:none">

                    <p style="margin-left:25px;">
                    <a target="_blank" href="http://learn.qlik.com/v/JM2OBn0zvK0wfaU25H000t0"><I>Insights</I> - November 2016</a><br />
                    <a target="_blank" href="http://learn.qlik.com/v/ZMw000pY50200000z20OKBq"><I>Insights</I> - October 2016</a><br />  
                    <a target="_blank" href="http://learn.qlik.com/v/R00O00kM05002000ByKsUw2"><I>Insights</I> - September 2016</a><br /> 
                    <a target="_blank" href="http://learn.qlik.com/v/AE0x0tBM20w5gHn00O0C2UK"><I>Insights</I> - August 2016</a><br /><a target="_blank" href="http://learn.qlik.com/v/DBjT20O0KMT00L1aOw2105c ">
                    <I>Insights</I> - July 2016</a><br />
                    <a target="_blank" href="http://go.qlik.com/index.php/email/emailWebview?mkt_tok=eyJpIjoiWVRGaU5tWmlaR0l6TmpKbSIsInQiOiJ0RmVGMDd3TWZOQ0p0MFdZUjZDYkNtYWJYSUVtcCtuWU55NFQ0elNYYWZQRUxGMjA0SmN2T0RWZWcxVWJZSTFUWVliMnRYVmhiXC9MREtJWm5vR2NrQVE9PSJ9"><I>Insights</I> - June 2016</a><br /> 
                    <a target="_blank" href="http://learn.qlik.com/v/R00OtU0Mn50020H0BZKzzw2">Special Edition -  Experience Qonnections 2016 - May 12, 2016</a>: get Qonnections highlights and more!<br /> 
                    <a target="_blank" href="http://go.qlik.com/index.php/email/emailWebview?mkt_tok=3RkMMJWWfF9wsRomrfCcI63Em2iQPJWpsrB0B%2FDC18kX3RUsI76WYBephcZfH5o5bOe3JV9ESscs4iFzV7nELA%3D%3D"><I>Insights</I> - 29 March 2016</a><br /> 
                    </p>
                    </div>
                </div>
            </div>

    <!--Insights Archive Sliding Div End-->
</div>

</apex:page>