<!-- --------------------------------------------------------------------------------------------------------
Author: MLN
Purpose: Test why most popular resources is failing.
Created Date : Oct 2012
------------------------------------------------------------------------------------------------------------ -->
<apex:page standardstylesheets="false" sidebar="true" title="video test">


<a href="http://qtube.qlikview.com/?video=http://qliktech.s3.amazonaws.com/videos/onboarding/Diane_Adams-edit.mp4" onclick="javascript:void window.open('http://qtube.qlikview.com/?video=http://qliktech.s3.amazonaws.com/videos/onboarding/Diane_Adams-edit.mp4','1382561242571','width=500,height=500,toolbar=0,menubar=0,location=0,status=0,scrollbars=0,resizable=0,left=0,top=0');return false;">Pop-up Window</a>
 
 
 
 
 
 <script src="https://releases.flowplayer.org/js/flowplayer-3.2.12.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="https://qtit.s3.amazonaws.com/test/video/jquery.tools.min.js" type="text/javascript" charset="utf-8"></script>

<style>

        a:active {
            outline:none;
        }
        :focus { -moz-outline-style:none; }

        .palert {
            padding: 12px;
            color: black;
            background-color: #ededed;
            box-shadow: none;
            }
.overlay {
    padding:40px;
    width:850px;
    display:none;
    background-image:url(https://qtit.s3.amazonaws.com/test/video/white.png);
}

.close {
    background:url(https://qtit.s3.amazonaws.com/test/video/close.png) no-repeat;
    position:absolute;
    top:2px;
    right:5px;
    display:block;
    width:35px;
    height:35px;
    cursor:pointer;
}

#player {
    height:478px;
    display:block;
}
</style>
<!-- button that opens up overlay -->
<p>
    <a style="color:#62ac1e; text-decoration:none;" href="#" rel="div.overlay">QlikView Quick Tour</a>
</p>


<!-- element that is overlayed, visuals are done with external CSS -->
<div class="overlay" style="background-image:url(https://qtit.s3.amazonaws.com/test/video/white.png)">

<!-- flowplayer container -->
<a id="player" href="https://qliktech.s3.amazonaws.com/videos/onboarding/Diane_Adams-edit.mp4">

    <!-- some initial content so that player is not loaded upon page load -->
    &nbsp;
</a>
</div>

<!-- this script block will install Flowplayer inside previous A tag -->
<script>
$(function() {
    // install flowplayer into flowplayer container
    var player = $f("player", "https://releases.flowplayer.org/swf/flowplayer-3.2.16.swf");

    // set up button action. it will fire our overlay
    $("a[rel]").overlay({

        // use the Apple effect for overlay
        effect: 'apple',

        // when overlay is opened, load our player
        onLoad: function() {
            player.load();
        },

        // when overlay is closed, unload our player
        onClose: function() {
            player.unload();
        }
    });
});
</script>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula ornare purus, placerat vestibulum lectus tempor sit amet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc venenatis scelerisque rhoncus. Nam mattis consectetur erat, dignissim pellentesque libero rhoncus nec. Nunc eget facilisis felis. Cras tristique, lectus nec lacinia varius, dolor tellus elementum nibh, vel consequat ligula neque commodo risus. Aenean fermentum ultrices blandit. Vivamus rutrum arcu interdum sem fringilla volutpat. Ut quam erat, pretium id nunc sed, dapibus imperdiet mauris. Aliquam gravida, risus sed interdum venenatis, leo libero aliquam eros, et dictum dolor neque non ipsum. 

Mauris sed scelerisque leo. Duis sit amet dui sit amet risus cursus eleifend vel at dolor. Curabitur sed blandit turpis. Nulla fermentum ultricies tortor sit amet hendrerit. Fusce vel consequat libero. Suspendisse quam mi, porttitor at consectetur scelerisque, viverra quis mi. Duis fringilla orci orci, a imperdiet purus scelerisque eget. Donec pellentesque rutrum mi, nec aliquam nisl rhoncus ut. Suspendisse malesuada diam velit, vel viverra ipsum aliquam at. Maecenas aliquam eleifend urna sit amet mollis. Praesent suscipit justo et lacus bibendum tincidunt. Proin ac risus enim. Donec gravida, justo eu sagittis feugiat, felis nulla consectetur justo, quis tincidunt eros lorem ac mauris. Nunc sit amet auctor augue. 

Vestibulum purus nunc, sollicitudin vitae dui ut, viverra convallis mauris. Proin vitae ante ac tellus ullamcorper fermentum. Donec tincidunt neque at mauris placerat, sed fringilla augue dignissim. Curabitur imperdiet mi magna, eget sagittis ante sagittis in. Pellentesque aliquam elit vel suscipit dapibus. Praesent at dapibus nulla. Duis viverra metus eu ante tempus, a consectetur enim mattis. Aliquam faucibus augue nec auctor sollicitudin. Nulla suscipit urna vel posuere aliquam. Sed id eros et ipsum suscipit varius. Curabitur id est nibh. 

Mauris id odio nec lorem viverra pharetra. Sed eget placerat nisi, eget pharetra quam. Curabitur at blandit purus. Pellentesque porttitor erat nibh, vitae pretium nulla tincidunt eu. Vestibulum facilisis varius justo congue feugiat. Pellentesque vestibulum vulputate est, vel auctor augue egestas a. Nam in lorem bibendum, volutpat tortor et, venenatis dolor. Fusce posuere est elit, ut tincidunt odio aliquet et. Etiam nisi ipsum, consequat et neque at, pretium pretium augue. Pellentesque congue tortor et ornare mattis. Donec eget erat laoreet, eleifend sapien tincidunt, dignissim elit. Donec suscipit nibh vel vulputate molestie. Pellentesque ultricies risus ante. Vestibulum porttitor mi lorem, quis viverra ligula convallis vel. 

Pellentesque congue ipsum lacinia, tincidunt tortor ut, tempus velit. Etiam eros orci, semper sed tellus porttitor, tempor consequat leo. Integer mollis quis ante lobortis dapibus. Quisque sit amet nisi non elit fringilla rhoncus. Nam porta sagittis lorem a molestie. Quisque eros neque, lacinia sit amet felis quis, venenatis rhoncus leo. Mauris et ullamcorper erat. Vivamus non ante scelerisque, volutpat ligula a, auctor dui. Etiam sed sapien eget tellus volutpat pretium. Donec pretium, erat sit amet lacinia vehicula, turpis ante iaculis elit, vitae rhoncus purus nibh in risus. Morbi adipiscing molestie malesuada. Sed sed sollicitudin arcu. 
</p>

 

</apex:page>