<apex:page >

<div id="fancy_outer" style="top: 1103px; left: 457px; height: 504px; width: 950px; display: block;"><div id="fancy_inner"><div id="fancy_bg" style="display: block;"><div class="fancy_bg fancy_bg_n"></div><div class="fancy_bg fancy_bg_ne"></div><div id="fancy_close_lightbox" style="display: block;"></div><div class="fancy_bg fancy_bg_e"></div><div class="fancy_bg fancy_bg_se"></div><div class="fancy_bg fancy_bg_s"></div><div class="fancy_bg fancy_bg_sw"></div><div class="fancy_bg fancy_bg_w"></div><div class="fancy_bg fancy_bg_nw"></div></div><div id="fancy_nav"></div><div id="fancy_content"><iframe scrolling="no" frameborder="0" src="http://www.salesforce.com/assets/swf/chicklet/chicklet_large_CRM.jsp?display_type=lb_bb" hspace="0" name="fancy_iframe958" onload="(function($){$.fn.fancybox.showIframe()})(jQuery);" id="fancy_frame" style="display: inline;"></iframe></div><div id="fancy_title"><table cellspacing="0" cellpadding="0" border="0"><tbody><tr><td id="fancy_title_left"></td><td id="fancy_title_main"><div></div></td><td id="fancy_title_right"></td></tr></tbody></table></div></div></div>

</apex:page>