<!-----------------------------
	2014-10-23 customer portal project
    2019-05-05 AIN IT-1597 Updated for Support Portal Redesign
 ------------------------------ -->
<apex:page cache="false"
  standardStylesheets="false"
  showHeader="false"
  sidebar="false"  
  language="{!$CurrentPage.parameters.l}"
  applyBodyTag="false"
  applyHtmlTag="false">
     <apex:composition template="QS_PageTemplate">
       <apex:define name="body">
            <h1>LEF Instructions</h1><br /><br />
            <script type="text/javascript" src="https://qvfiles.s3.amazonaws.com/partner_portal/js/lef.js"></script>
            <h2>Manually Register QlikView Developer and Server</h2>
            <p><span class="important">Once you have received the required license information from QlikTech, please follow the steps outlined in the following documentation:</span>&#160;</p>
            <p><a class="download" href="http://qvfiles.s3.amazonaws.com/partner_portal/support_onboarding/How%20to%20register%20QlikView%20Developer%20and%20Server%20without%20Internet%20access.pdf" target="_blank">How to Manually register QlikView Developer and Server</a>&#160;(pdf file)</p>
            <h2>Download LEF</h2>
            <p>If you are unable to obtain a valid LEF file through the normal procedure, use this form to obtain the LEF file contents.</p>
            <p>Enter your 16-digit license number, the licensed user name and organization, select your version of QlikView and operating system version and press Submit to get the contents of the LEF file, and then copy and paste this information into the LEF editor.</p>
            <div style="FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; MAX-WIDTH: 525px" class="lef">
                <table width="475">
                <tbody>
                    <tr class="even">
                        <td><label>Serial</label></td>
                        <td><input id="Serial" size="30">3105660781437107</input></td>
                    </tr>
                    <tr>
                        <td><label class="lef-label">User Name</label></td>
                        <td><input id="Name" size="30" /></td>
                    </tr>
                        <tr class="opposite">
                        <td><label class="lef-label">Organization</label></td>
                        <td><input id="Organization" size="30" /></td>
                        <td><input id="Version" size="30" /></td>
                        <td><input id="OSVersion" size="30" /></td>
                    </tr>
                </tbody>
                </table>
                <table align="center">
                    <tbody>
                        <tr>
                            <td>
                            	<input type="button" title="Submit" onclick="doit();" name="Submit" class="btn" value="Submit" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
         </apex:define>          
     </apex:composition> 
</apex:page>