<!-- 
* Page with all links to published knowledge articles. Used in QS_PortalRobotsTxt page.
*
* Change log:
* 
* 04-02-2019    ext_vos     CHG0035417: created.
-->
<apex:page showHeader="false" sidebar="false" controller="QS_PortalSiteMapPublicArticlesController">
    <div style="padding: 20px;">
        <apex:repeat value="{!articles}" var="arKey" >
            <apex:outputlink value="{!articles[arKey]}" target="_blank">{!arKey}</apex:outputlink>
            <br/>
        </apex:repeat>
    </div>
</apex:page>