<!----------------------------------------------------------------------------------------------------------
Purpose: QS_QlikQonciergeService
2017-10-04 CHG0030362 - Rename Qoncierge to Customer Support - BAD
2019-05-05 AIN IT-1597 Updated for Support Portal Redesign
-------------------------------------------------------------------------------------------------------------->
<apex:page controller="QS_MiniController" cache="false"
           standardStylesheets="false"
           showHeader="false"
           sidebar="false"
           language="{!$CurrentPage.parameters.l}"
           applyBodyTag="false"
           applyHtmlTag="false">

    <apex:composition template="QS_PageTemplate">

        <apex:define name="body">

            <apex:variable var="sideChat" value="false"/>
            <apex:insert name="sideChatOverride" />

            <body class="qs-body">
                <apex:outputPanel layout="none"  >
                    <script type='text/javascript' src='https://c.la7cs.salesforceliveagent.com/content/g/js/34.0/deployment.js'></script>
                    <script type='text/javascript'>
                        liveagent.init('{!LiveAgentAPIEndpoint}', '{!LiveChatDeploymentId}', '{!OrganizationId}');
                    </script>
                </apex:outputPanel>
                <!-- SIDETAB FOR CONTACT SUPPORT -->

                <apex:outputPanel layout="none"  >
                    <script type="text/javascript">
                        if (!window._laq) { window._laq = []; }
                        window._laq.push(function(){liveagent.showWhenOnline('573D0000000Cb3P', document.getElementById('liveagent_button_online_573D0000000Cb3P'));
                            liveagent.showWhenOffline('573D0000000Cb3P', document.getElementById('liveagent_button_offline_573D0000000Cb3P'));
                        });</script>
                </apex:outputPanel>

                <style>
                    .regular1, .regular1 li {
                        margin-bottom: 10px;
                        list-style: disc;
                        font-size:1.1em !important;
                    }
                    liz{font-size:2em !important;}
                </style>

                <div class="qs-page-home">
                    <div class="qs-grid qs-grid-pad">
                        <div class="qs-col-2-3 qs-main">
                            <div class="qs-grid qs-grid-pad">
                                <div class="qs-col-1-1">

                                    <h1>Qlik Customer Support</h1>
                                    <p>
                                        <span  style="font-size:1.3em;">
                                            The global Customer Support team is ready to assist you with non-technical post-sales issues, including:
                                        </span>
                                    </p>
                                    <ul class="regular1">
                                        <li>License-related questions</li>
                                        <li>Access issues</li>
                                        <li>Download issues</li>
                                        <li>General questions</li>
                                    </ul>
                                    <br />
                                    <p style="font-size:1.3em;">
                                        Before contacting us:
                                    <ul class="regular1">
                                        <li>Try searching for articles in our Knowledgebase accessible through the Support Portal </li>
                                        <li>Have your product license number at hand</li>
                                        <li>Prepare a clear and detailed description of the issue</li>
                                        <li>Include additional material supporting the description, e.g. QlikView document, screenshots, videos</li>
                                    </ul>
                                    </p>
                                    <br/>
                                    <div style="width:700px; margin-right:2; margin-left:auto;">
                                        <apex:form >
                                            <div class="qs-col-1-2" >
                                                <a id="liveagent_button_online_573D0000000Cb3P" href="javascript://Chat" style="display: none;" onclick="liveagent.startChat('573D0000000Cb3P')">Chat</a>
                                                <div id="liveagent_button_offline_573D0000000Cb3P" style="display: none;">pffff</div>
                                            </div>
                                        </apex:form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </body>
        </apex:define>
    </apex:composition>
</apex:page>