<!--************************************************************
* 2019-05-05 AIN IT-1597 Created for Support Portal Redesign
*************************************************************-->
<apex:page cache="false"
  standardStylesheets="false"
  showHeader="false"
  sidebar="false"  
    language="{!$CurrentPage.parameters.l}"
    applyBodyTag="false"
    applyHtmlTag="false" controller="QS_SupportAnnouncementsController">
    <head>
        <link rel="canonical" href="{!$Setup.QS_Partner_Portal_Urls__c.Support_Portal_Login_Url__c}/QS_SupportAnnouncements"/>
    </head>
    <apex:composition template="QS_PageTemplate">
        <apex:define name="body"> 
            <div class="main">
                <section>
                    <div class="wrapper">
                        <div class="section-title"><h1>Qlik Support Alert</h1></div>
                        <div class="postings">
                            <apex:repeat value="{!AnnouncementsList}" var="result" id="asd">
                                <article class="post">
                                    <div class="inner">
                                        <span class="subtitle">Published Date <apex:outputText value="{0, date, yyyy-MM-dd}"><apex:param value="{!result.StartDate}"/></apex:outputText></span> 
                                        <h3><apex:outputText value="{!result.Header}"  escape="false" /></h3>
                                        <p><apex:outputText value="{!result.Body}"  escape="false"/></p>
                                    </div>
                                </article>
                            </apex:repeat>
                        </div>
                    </div>
                </section>
            </div>
        </apex:define>
    </apex:composition>
</apex:page>