<apex:page >
<font size="4"><bold>Demo of QlikView Target Selection Application for Dreamforce<bold>
</font>

<br>&nbsp;</br>
<iframe height="1000px" width="1500px" id="QTargetSelection" name="QTargetSelection" src="http://pubdev.qliktech.com/QvAJAXZfc/AccessPoint.aspx?open=&id=AccessPoint%20Documents%7CCampaign%20Target%20Selection-AJAX.qvw&client=Ajax"></iframe>

</apex:page>