<apex:page showHeader="true" standardStylesheets="false" action="{!getAssignedToApprovals}" sidebar="false" applyHtmlTag="true" applyBodyTag="false" docType="html-5.0" controller="QuoteApproverController" >
 <script src="https://code.jquery.com/jquery-1.8.2.min.js"/>
         <script>
        function selectTab(elmnt) {
            // slds-active
            $(elmnt).parent("li").siblings(".slds-active").removeClass("slds-active");
            $(elmnt).parent("li").addClass("slds-active");

            // tabindex
            $(elmnt).parent("li").siblings().children("a").attr("tabindex", -1);
            $(elmnt).attr("tabindex", 0);  

            // aria-selected
            $(elmnt).parent("li").siblings().children("a").attr("aria-selected", false);
            $(elmnt).attr("aria-selected", true);

            // hiding previouly selected tab (slds-show/slds-hide)
            $(elmnt).closest(".slds-tabs--default").children("div[role='tabpanel'].slds-show").addClass("slds-hide");
            $(elmnt).closest(".slds-tabs--default").children("div[role='tabpanel'].slds-show").removeClass("slds-show");
            // displaying newly selected tab (slds-show/slds-hide)
            $(elmnt).closest(".slds-tabs--default").children("div[aria-labelledby='"+elmnt.id+"']").addClass("slds-show");
            $(elmnt).closest(".slds-tabs--default").children("div[aria-labelledby='"+elmnt.id+"']").removeClass("slds-hide");
        }
        </script> 
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <head>
      <title>Quote Approval</title>
      <apex:stylesheet value="{!URLFOR($Resource.SLDS202, 'assets/styles/salesforce-lightning-design-system.min.css')}" />
    </head>
        <body>  
  <div class="slds">
	<div class="slds-page-header" role="banner"> 
  		<div class="slds-grid">
    		<div class="slds-col">
				<div class="slds-media">
				  <div class="slds-media__figure">
 					   <span class="slds-avatar slds-avatar--large">
        					<apex:image value="{!UserThumbPhoto}"/> <br/>s
    				   </span>
  				  </div>
                      <div class="slds-media__body">
                          <span class="slds-badge">{!$User.FirstName} {!$User.LastName}</span>
                      </div>
				</div>

   		 	</div>
  		</div>
	</div>
        <div class="slds-tabs--default">
            <ul class="slds-tabs--default__nav" role="tablist">
                <li class="slds-tabs--default__item slds-text-heading--label slds-active" title="Tab 1" role="presentation"><a class="slds-tabs--default__link" href="#void" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item" onclick="selectTab(this);">My Approvals</a></li>
                <li class="slds-tabs--default__item slds-text-heading--label" title="Tab 2" role="presentation"><a class="slds-tabs--default__link" href="#void" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item" onclick="selectTab(this);">My Team's Approvals</a></li>
            </ul>
  				<div id="tab-default-1" class="slds-tabs--default__content slds-show" role="tabpanel" aria-labelledby="tab-default-1__item">
           <apex:outputPanel rendered="{!currentPendingApprovalsList.size > 0 }">
           <br/>
            
           <center>
               <label class="slds-text-heading--label">
            Quote Approvals
                   </label>
          </center>  
           <br/>          
      <table class="slds-table slds-table--bordered slds-table--cell-buffer">
         
                    <thead>
                    <tr class="slds-text-heading--label">
                      <apex:repeat value="{!CurrentPendingTitle}" var="t">
                        <th  scope="col">
                          
                         <div class="slds-truncate">{!t}
                          </div>
                        </th>
                      </apex:repeat>
                    </tr>
                    </thead>
                     <tbody> 
                    <apex:repeat value="{!currentPendingApprovalsList}" var="app">
                       <tr  class="slds-truncate" scope="row">
                             
                               <!--<td class="slds-truncate">
                                   <div class="slds-button-group" role="group">
                                      <button class="slds-button slds-button--neutral" id="approveButton" onclick="location.href='/apex/sbaa__Approve?id={!app.id}'">Approve  </button>
                                      <button class="slds-button slds-button--brand" id="rejectButton" onclick="location.href='/apex/sbaa__Reject?id={!app.id}'">Reject</button>
                                    </div>
                
                               </td> -->
                               <td class="slds-truncate">
                                   <a href='/{!IF(NOT(ISNULL(app.Quote__c)),app.Quote__r.SBQQ__Account__r.Id, app.Zuora_Quote__r.zqu__Account__r.Id)}'> 
                                      {!IF(NOT(ISNULL(app.Quote__c)),app.Quote_Account__c, app.Zuora_Quote__r.zqu__Account__r.Name)}
                                   </a>
                               </td>
                               <td class="slds-truncate">
                                   <a href='/{!IF(NOT(ISNULL(app.Quote__c)),app.Quote__r.SBQQ__Opportunity2__r.Id, app.Zuora_Quote__r.zqu__Opportunity__r.Id)}'> 
                                       {!IF(NOT(ISNULL(app.Quote__c)),app.Quote_Opportunity__c, app.Zuora_Quote__r.zqu__Opportunity__r.Name)} 
                                   </a>
                               </td>
                               <td class="slds-truncate">
                                   <a href='/{!IF(NOT(ISNULL(app.Quote__c)),app.Quote__c, app.Zuora_Quote__c)}'> 
                                       {!IF(NOT(ISNULL(app.Quote__c)),app.Quote__r.Name, app.Zuora_Quote__r.Name) }
                                   </a>
                               </td>
                                <td class="slds-truncate">
                                    {!IF(NOT(ISNULL(app.Quote__c)),app.Quote_Revenue_Type__c, app.Zuora_Quote__r.Revenue_Type__c)}
                               </td>
                              <!-- <td class="slds-truncate">
                                   <a href='/{!app.id}'>  {!app.Name}</a>
                               </td>-->
                               <td class="slds-truncate">
                                    {!app.sbaa__Rule__r.Name}
                               </td>
                               <!--<td class="slds-truncate">
                                 {!app.sbaa__Status__c}
                               </td>-->
                               <!--<td class="slds-truncate">
                                   {!app.sbaa__ApprovalChain__r.Name}
                               </td>-->
                               <td class="slds-truncate">
                                    {!app.Quote_Sales_Rep__c}
                               </td>
                               <td class="slds-truncate">
                                    {!app.sbaa__Approver__r.Name}
                               </td>
                               <td class="slds-truncate">
                                   {!app.sbaa__DelegatedApprover__r.sbaa__User__r.Name}
                               </td>
                           	   <td class="slds-truncate">
                                    {!IF(NOT(ISNULL(app.Quote__c)),app.Quote__r.Attunity_Quote__c, app.Zuora_Quote__r.Attunity_Quote__c)}
                               </td>
                       </tr>
                    </apex:repeat>
                    </tbody>
                  </table>
                      </apex:outputPanel>
                      <apex:outputPanel rendered="{!contractedPriceList.size > 0 }">
                      <br/>
              <center>
                <label class="slds-text-heading--label">
                    Contracted Price Approvals
                </label>
              </center>    
                      <br/>                  
      <table class="slds-table slds-table--bordered slds-table--cell-buffer">
                    <thead>
                    <tr class="slds-text-heading--label">
                      <apex:repeat value="{!ContractedPrice}" var="t">
                        <th  scope="col">
                          
                         <div class="slds-truncate">{!t}
                          </div>
                        </th>
                      </apex:repeat>
                    </tr>
                    </thead>
                     <tbody> 
                    <apex:repeat value="{!contractedPriceList}" var="app">
                       <tr  class="slds-truncate" scope="row">
                             
                               <td class="slds-truncate">
                                   <a href='/{!app.ContractedPrice__r.SBQQ__Account__r.Id}'> {!app.ContractedPrice__r.SBQQ__Account__r.Name}</a>
                               </td>
                               <td class="slds-truncate">
                                   <a href='/{!app.ContractedPrice__c}'> {!app.ContractedPrice__r.Name}</a>
                               </td>
                                <td class="slds-truncate">
                                    {!app.ContractedPrice__r.Contracted_Price_Type__c}
                               </td>
                                <td>
                                    {!app.ContractedPrice__r.Hold_Type__c}
                                </td>
                               <td class="slds-truncate">
                                    {!app.sbaa__Rule__r.Name}
                               </td>
                               <td class="slds-truncate">
                                    {!app.Owner.Name}
                               </td>
                               <td class="slds-truncate">
                                    {!app.sbaa__Approver__r.Name}
                               </td>
                               <td class="slds-truncate">
                                   {!app.sbaa__DelegatedApprover__r.sbaa__User__r.Name}
                               </td>     
                       </tr>
                    </apex:repeat>
                    </tbody>
                  </table>
                </apex:outputPanel>
          </div>
          	<div id="tab-default-2" class="slds-tabs--default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-2__item">
                  <apex:outputPanel rendered="{!futureApprovalslList.size > 0 }">
                  <br/>
                    <center>
                        <label class="slds-text-heading--label">
                            Quote Approvals
                        </label>
                    </center>  
                   <br/>   
                 <table class="slds-table slds-table--bordered slds-table--cell-buffer">
                    <thead>
                    <tr class="slds-text-heading--label">
                      <apex:repeat value="{!FutureApprovalTitle}" var="t">
                        <th  scope="col">
                          
                         <div class="slds-truncate">{!t}
                          </div>
                        </th>
                      </apex:repeat>
                    </tr>
                    </thead>
                     <tbody>  
                    <apex:repeat value="{!futureApprovalslList}" var="app">
                       <tr  class="slds-truncate" scope="row">
                       			<td class="slds-truncate">
                                    <a href='/{!IF(NOT(ISNULL(app.Quote__c)),app.Quote__r.SBQQ__Account__r.Id, app.Zuora_Quote__r.zqu__Account__r.Id)}'> 
                                       {!IF(NOT(ISNULL(app.Quote__c)),app.Quote_Account__c, app.Zuora_Quote__r.zqu__Account__r.Name)}
                                   </a>
                               </td>
                               <td class="slds-truncate">
                                   <a href='/{!IF(NOT(ISNULL(app.Quote__c)),app.Quote__r.SBQQ__Opportunity2__r.Id, app.Zuora_Quote__r.zqu__Opportunity__r.Id)}'> 
                                       {!IF(NOT(ISNULL(app.Quote__c)),app.Quote_Opportunity__c, app.Zuora_Quote__r.zqu__Opportunity__r.Name)}
                                   </a>
                               </td>
                               <td class="slds-truncate">
                                   <a href='/{!IF(NOT(ISNULL(app.Quote__c)),app.Quote__c, app.Zuora_Quote__c)}'> 
                                       {!IF(NOT(ISNULL(app.Quote__c)),app.Quote__r.Name, app.Zuora_Quote__r.Name)}
                                   </a>
                               </td>
                                <td class="slds-truncate">
                                    {!IF(NOT(ISNULL(app.Quote__c)),app.Quote_Revenue_Type__c, app.Zuora_Quote__r.Revenue_Type__c)}
                               </td>
                               <!--<td class="slds-truncate">
                                   <a href='/{!app.id}'>  {!app.Name}</a>
                               </td> -->
                               <td class="slds-truncate">
                                    {!app.sbaa__Rule__r.Name}
                               </td>
                               <!--<td class="slds-truncate">
                                 {!app.sbaa__Status__c}
                               </td>-->
                               
                               <!--<td class="slds-truncate">
                                   {!app.sbaa__ApprovalChain__r.Name}
                               </td>-->
                                <td class="slds-truncate">
                                    {!app.Quote_Sales_Rep__c}
                               </td>
                               <td class="slds-truncate">
                                    {!app.sbaa__Approver__r.Name}
                               </td>
                               <td class="slds-truncate">
                                   {!app.sbaa__DelegatedApprover__r.sbaa__User__r.Name}
                               </td>
                           	   <td class="slds-truncate">
                                    {!IF(NOT(ISNULL(app.Quote__c)),app.Quote__r.Attunity_Quote__c, app.Zuora_Quote__r.Attunity_Quote__c)}
                               </td>
                       </tr>
                    </apex:repeat>
                    </tbody>
               </table>
                       <br/>
              </apex:outputPanel>
             <apex:outputPanel rendered="{!FutureContractedPrice.size > 0 }">
              <center>
                <label class="slds-text-heading--label">
                    Contracted Price Approvals
                </label>
              </center>    
                      <br/>                  
      <table class="slds-table slds-table--bordered slds-table--cell-buffer">
                    <thead>
                    <tr class="slds-text-heading--label">
                      <apex:repeat value="{!FutureContractedPrice}" var="t">
                        <th  scope="col">
                          
                         <div class="slds-truncate">{!t}
                          </div>
                        </th>
                      </apex:repeat>
                    </tr>
                    </thead>
                     <tbody> 
                    <apex:repeat value="{!contractedPriceFutureList}" var="app">
                       <tr  class="slds-truncate" scope="row">
                             
                               <td class="slds-truncate">
                                   <a href='/{!app.ContractedPrice__r.SBQQ__Account__r.Id}'> {!app.ContractedPrice__r.SBQQ__Account__r.Name}</a>
                               </td>
                               <td class="slds-truncate">
                                   <a href='/{!app.ContractedPrice__c}'> {!app.ContractedPrice__r.Name}</a>
                               </td>
                                <td class="slds-truncate">
                                    {!app.ContractedPrice__r.Contracted_Price_Type__c}
                               </td>
                                <td>
                                    {!app.ContractedPrice__r.Hold_Type__c}
                                </td>
                               <td class="slds-truncate">
                                    {!app.sbaa__Rule__r.Name}
                               </td>
                               <td class="slds-truncate">
                                    {!app.Owner.Name}
                               </td>
                               <td class="slds-truncate">
                                    {!app.sbaa__Approver__r.Name}
                               </td>
                               <td class="slds-truncate">
                                   {!app.sbaa__DelegatedApprover__r.sbaa__User__r.Name}
                               </td>     
                       </tr>
                    </apex:repeat>
                    </tbody>
                  </table>
                </apex:outputPanel>
         	 </div>
          </div>
        </div>
	</body>
   </html>
</apex:page>