<apex:page controller="QVM_Cases" sidebar="false">
<!-----------------------------
2012-09-03  |  MLN  |  Added left nav for Qonnect launch |  Qonnect Update 2012
2013-05-13  |  PGE  |  Added include file qvm_leftnav to move side nav into one file
----------------------------->
<style>
.tableFooter {
    overflow: hidden;
}
.listTable th {
    padding: 3px;
    background: #ddd;
}
.listTable td {
    padding: 3px;
    border-bottom: 1px solid #ccc;
}
.tableFooter {
    margin: 10px 0 0 0;
    font-weight: bold;
}
</style>
                <div id="main">
                    <div class="clearfix">
<!--LEFT SIDEBAR-->                 
            
<!--SIDENAV-->                      
                        <div id="sidebar">
                            <!-- Start Sidebar Modules -->
                          
                          <apex:include PageName="QVM_LeftNav" />
                          
<!--END SIDE NAV-->

<!--SFDC SEARCH-->
                            <div class="module m1">
                                <div class="module m2">
                                    <div class="module m3 searchmodule">
                                        <h3>Search Salesforce</h3>
                                        <div class="clearfix p6">
                                        <apex:form >
                                            <c:SearchComponent /> 
                                        </apex:form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
<!--SFDC SEARCH END--> 
<!--PARTNER LIBRARY SEARCH -->                           
                            <div class="module m1">
                                <div class="module m2">
                                  <div class="module m3 searchmodule">
                                        <h3>Search Partner Library</h3>
                                        <div class="clearfix p6">
                                        <apex:form >
                                            <c:SearchContent />
                                        </apex:form>
                                            <a href="/sfc/#search" class="advancedsearch">View All Content</a>   
                                        </div>
                                    </div>
                                </div>
                            </div>
<!--PARTNER LIBRARY SEARCH END-->                          
                            <!-- End Sidebar Modules -->

                        </div>
<!--END LEFT SIDEBAR-->
<!--RIGHT COLUMN HEADER-->                      
                        <div id="detail">
                            <div class="detailLeft">
                                <div class="detailRight">

                                    <div class="clearfix">
                                    
    
<!--RIGHT COLUMN CONTENT-->
                                        <div class="nowrap">
<apex:sectionHeader title="{!$Label.QVM_View_All_Cases}" subtitle="" />
<apex:form id="caseForm" styleClass="caseForm">
<apex:pageBlock >
<apex:pageBlockButtons location="top">
   <apex:commandButton value="{!$Label.QVM_Create_New_Case}" action="{!createNewCase}" />
   <apex:commandButton value="{!$Label.QVM_QlikMarket}" action="{!goToQVMControlPanel}" />
</apex:pageblockButtons>
<apex:outputPanel id="caseTable">
<table width="100%" class="listTable">
   <tr>
      <apex:repeat value="{!cases.columns}" var="c">
         <th><apex:commandLink value="{!c.label}{!c.sortIndicator}" action="{!sort}" reRender="caseForm">
               <apex:param name="sortField" value="{!c.field}" assignTo="{!cases.sortField}"/>
            </apex:commandLink></th>
      </apex:repeat>
   </tr>
   <apex:repeat value="{!caseList}" var="c">
      <tr>
         <td><apex:outputLink value="/{!c.Id}">{!c.Subject}</apex:outputLink></td>
         <td>{!c.Status}</td>
         <td>{!c.Priority}</td>
         <td>{!c.Type}</td>
         <td>{!c.CreatedBy.Name}</td>
         <td><apex:outputField value="{!c.CreatedDate}" /></td>
      </tr>
   </apex:repeat>
</table>
<div class="tableFooter">
   <div style="float:left;">{!cases.pageOf}</div>
   <apex:panelGrid columns="4" style="float:right;">
      <apex:commandLink action="{!cases.firstPage}" rerender="caseTable" rendered="{!cases.hasPrev}" >&lt;&lt; {!$Label.QVM_First} </apex:commandlink>
      <apex:commandLink action="{!cases.prevPage}" rerender="caseTable" rendered="{!cases.hasPrev}" >&lt; {!$Label.QVM_Previous} </apex:commandlink>
      <apex:commandLink action="{!cases.nextPage}" rerender="caseTable" rendered="{!cases.hasNext}" > {!$Label.QVM_Next} &gt;</apex:commandlink>
      <apex:commandLink action="{!cases.lastPage}" rerender="caseTable" rendered="{!cases.hasNext}" > {!$Label.QVM_Last} &gt;&gt;</apex:commandlink>
   </apex:panelGrid>
</div>
</apex:outputPanel>
</apex:pageBlock>
</apex:form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
</apex:page>