<apex:page Controller="ChangeControlCaseSearchController">
    <apex:outputPanel rendered="{!IF(CaseId == null, true, false)}">
        This page should only be accessed from a Change. 
    </apex:outputPanel>    

    <apex:form id="theForm">    

    <apex:pageBlock title="Related Incidents" rendered="{!IF(CaseId != null, true, false)}" id="theBlock">
        <apex:pageBlockButtons >
            <apex:commandButton action="{!relateChange}" value="Relate change"/>
            <apex:commandButton action="{!backToParentCase}" value="Back to case {!ThisCase.CaseNumber}"/>
        </apex:pageBlockButtons>
        <apex:pageBlockSection columns="1" id="theSection">
            <apex:pageBlockSectionItem >
                Case number <apex:outputLabel value="{!ThisCase.CaseNumber}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                Subject <apex:outputLabel value="{!ThisCase.Subject}" />
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem id="theSectionID">
            Relate change <apex:inputField value="{!Change.Related_to_Change_Request_Project__c}" id="ChangeRequest" /> 
            </apex:pageBlockSectionItem>
        </apex:pageBlockSection>

    </apex:pageBlock>    

    <apex:pageMessages id="errors" />

        <apex:pageBlock title="Search changes" rendered="{!IF(CaseId != null, true, false)}">
            <table width="100%" border="0">
            <tr>  
            <td width="200" valign="top">
    
            <apex:pageBlock title="Search"> 

            <script type="text/javascript">
                          
              function doSearch() {
              	//alert('Test: ' + document.getElementById("CRNumber").value + ' - ' + document.getElementById("Name").value);  
                searchServer(
                    document.getElementById("CRNumber").value,
                    document.getElementById("Name").value               
                );
              }
              
              function populateChangeRequest(changeRequest)
              {
                  document.getElementById("{!$Component.theForm.theBlock.theSection.theSectionID.ChangeRequest}").value = changeRequest;
                  return false;
              }
            </script>
        
                <apex:actionFunction name="searchServer" action="{!runSearch}" rerender="results,debug" >
                      <apex:param name="CRNumber" value="" />
                      <apex:param name="Name" value="" />
                   <!-- <apex:param name="BugID" value="" />  -->   
                </apex:actionFunction>

                  <table cellpadding="2" cellspacing="2">
                  <tr>
                    <td style="font-weight:bold;">CR Number<br/>
                    <input type="text" id="CRNumber" onkeyup=""/>
                    </td>
                  </tr>
                  <tr>
                    <td style="font-weight:bold;">Name<br/>
                    <input type="text" id="Name" onkeyup=""/>
                    </td>
                  </tr>
                  <tr>
                    <td style="font-weight:bold;">
                    <input type="button" value="Search" onClick="doSearch();"/>
                    </td>
                  </tr>
                  <tr>
                    <td style="font-size:80%;"><br />
                    Max 20 matches will be listed.
                    </td>
                  </tr>                  
                  </table>

            </apex:pageBlock>
        
        
        
            </td>
            <td valign="top">        
        
        
        
            <apex:pageBlock mode="edit" id="results">
 
            <apex:pageBlockTable value="{!Changes}" var="change">
                <apex:column >
                    <apex:facet name="header">
                        <apex:commandLink value="CR Number" action="{!toggleSort}" rerender="results">
                            <apex:param name="sortField" value="CR_Number2__c" assignTo="{!sortField}"/>
                        </apex:commandLink>
                    </apex:facet>
                    <apex:commandLink value="{!change.CR_Number2__c}" onclick="javascript: return populateChangeRequest('{!change.Name}');" />
                </apex:column>
     
                <apex:column >
                    <apex:facet name="header">
                        <apex:commandLink value="Name" action="{!toggleSort}" rerender="results">
                            <apex:param name="sortField" value="Name" assignTo="{!sortField}"/>
                        </apex:commandLink>
                    </apex:facet>
                    <apex:outputField value="{!change.Name}"/>
                </apex:column>

        </apex:pageBlockTable>
 
    </apex:pageBlock>

    </td>
  </tr>
  </table>        
  
  
    <apex:pageBlock title="Debug - SOQL" id="debug" rendered="false">
      <apex:outputText value="{!debugSoql}" />           
    </apex:pageBlock>    
        
        </apex:pageBlock>

         </apex:form>
    
</apex:page>