<apex:page >
    <font size="1">In order to view this page, please read the pop-up message and answer the question properly.</font>
    <br>&nbsp;</br>
    <iframe height="1000px" width="1500px" id="Sales Enablement Asset Finder" name="Sales Enablement Asset Finder" src="https://pub.qliktech.com/QvAJAXZfc/opendoc.htm?document=Products%2FSales%20Tools%20App.qvw&host=AccessPoint%20Documents"></iframe>
</apex:page>