<apex:page sidebar="false" showheader="false" id="page" doctype="html-5.0" standardController="SBQQ__Quote__c" extensions="QuoteExtController" action="{!ApproverExist}"  >
    <script src="https://code.jquery.com/jquery-1.8.2.min.js" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ba-bbq/1.2.1/jquery.ba-bbq.min.js" />
    <script src="https://cdn.jsdelivr.net/jquery.postmessage/0.5/jquery.ba-postmessage.min.js" />
    <div id=" ch" style="display: none;">
        
    </div>

    <script type="text/javascript">
        var j$ = jQuery.noConflict();
        var parent_domain = '{!JSENCODE($CurrentPage.parameters.parent_domain)}';
    function closeModalDialog() {
    var j$ = jQuery.noConflict();
    var cross_result = new Object();
    cross_result.action = 'close_modal_dialog';

    j$.postMessage(
        cross_result,
        parent_domain,
        parent
    );
        window.location.reload();
}
    window.onload = function(){
        var parent_domain = '{!JSENCODE($CurrentPage.parameters.parent_domain)}';
      };
      
      function closeWindow(){
      alert();
      console.log('tryIt');
         window.top.close();
      closeModalDialog();
      }
    </script>
    
    
    
    <apex:pageMessages />
    <apex:form id="theForm">
        

                <apex:outputpanel rendered="{!IF(isEmpty,false,true)    }" >
                      <apex:outputLabel value="Approval Reason"/>
                  
                    <p align='center'>
                        <apex:inputTextarea value="{!SBQQ__Quote__c.Quote_Approval_Reason__c}" style="width:95%;height:95%"/>
                   <apex:commandButton value="Save" action="{!saveAndSubmit}" style="width:25%;height:10%;" onclick="closeModalDialog();"/>
                    </p>
                </apex:outputpanel>
          
            
  
               
                    <apex:outputpanel rendered="{!isEmpty}">
                     
                          <p align='center'><img src="/img/msg_icons/info32.png" /></p>  
                            <p align='center'>
                                Approval is not required for this Quote.
                                
                            </p>
                            <p align='center'>
                                <apex:commandbutton value="Ok" action="{!onSubmit}"  style="width:25%;height:10%;" oncomplete="closeModalDialog();"/>
                            </p>
                  
                    </apex:outputpanel>
                
    </apex:form>
    
    
     
</apex:page>