<apex:page standardcontroller="zqu__Quote__c">

  <style type="text/css">
        * {
          font-family: Roboto;
           font-size: 20px;
        }

div.message {
          
          background: #FFFFFF;
          color: #FF4500 ;
        
        }
    </style>

  

   <div class="Alert message" style="display: {!IF(zqu__Quote__c.Quote_Status__c = 'Open', '', 'none')}" >
      <h2>If you are not seeing the ACV/TCV values in Quote details or Zoura Detail accurately populated please refresh your browser.</h2>
    </div>

</apex:page>