.THIS#footer {height: 210px; background:#e7e7e7; position:relative; margin-top: 40px; clear:both; line-height: 20px;} 
.THIS#footer { background-color:#4b4b4b; height:350px;}
.THIS#footer h5 {margin-bottom:.5em;}

.THIS#footer .footerinner {width:949px; margin: 0 auto;}

.THIS .footerinner {padding-top:15px; color:#9b9b9b;}
.THIS .footerinner h5 {color:#636363;}
.THIS .footerinner .about {width:415px; height:160px; padding: 0 0 0 39px; float:left;}
.THIS .footerinner .links {width:187px; height:160px; padding: 0 0 0 41px; float:left;} 
.THIS .footerinner .tm {color:white; font-size: 11px;}

.THIS .footerinner a {color:white; text-decoration:none;}
.THIS .footerinner a:hover {color:white;text-decoration:underline;}
.THIS .footerinner .quicklinks {color:white; float:left; width:266px;}
.THIS .footerinner .blog {float:left; width:425px;}
.THIS .footerinner .blog .image {padding:2px; border:1px solid #dadada; float:left; margin-right:15px; height:32px;}
.THIS .footerinner .blog .image+div {overflow:hidden;}
.THIS .footerinner .blog a {color:#636363 !important; font-size:11px;}
.THIS .footerinner a.blog-title {display:block; color:#636363; font-size:16px; line-height:20px;}
.THIS .footerinner .blog span {font-size:11px;}
.THIS .footerinner .blog p {margin-top:.5em;}
.THIS .footerinner .conversation {float:right;}
.THIS .footerlinks, .THIS.tm {margin-top:20px;}

.THIS .footerinner .tm {color:white; font-size: 11px;}
.THIS .clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.THIS .clearfix {height: 1%;}
.THIS .footerinner .footerlinks {font-size: 11px;float:left;}

.THIS#footer .footerinner {width:949px; margin: 0 auto;}
.THIS#footer h5+.clearfix {margin-top:0;}
.THIS#footer .social a {display:block; line-height:16px; margin-bottom:5px;}
.THIS#footer .social .icon {display:inline-block; margin-right:5px; vertical-align:middle;}