<apex:component access="global" controller="efRegistrationMailBuilder">
    <!-- SFDC Consulting
        $Author:    &Mark Cane      
        $Created:   26th August 2010
        $Purpose:
        $Id:
        $Revision:
        // 20-05-2014 MTM: CR# 12738 Change Eventforce registration for internal users for new events  
    -->   
    <apex:attribute name="registrant"
        type="Contact"
        assignTo="{!registrant}"
        description="The contact for which we want to obtain the registration info"/>
    <apex:attribute name="registrationId"
        type="String"
        assignTo="{!registrationId}"
        description="The ID for the registration"/>        
    <apex:attribute name="requiredInfo"
        type="String"
        assignTo="{!requiredInfo}"
        description="The information we want to obtain from the registration"/>
    <apex:attribute name="naText"
        type="String"
        assignTo="{!naText}"
        description="The text to display in case the desired info can't be retrived"/>

    <apex:outputText value="{!totalAmount}" rendered="{!requiredInfo = 'totalAmount'}"/>
    <apex:outputText value="{!formattedDate}" rendered="{!requiredInfo = 'formattedDate'}"/>
    <apex:outputText value="{!registrationItems}" escape="false" rendered="{!requiredInfo = 'registrationItems'}"/>
    <apex:outputText value="{!paymentString}" escape="false" rendered="{!requiredInfo = 'paymentString'}"/>
    <apex:outputText value="{!recentPaymentString}" escape="false" rendered="{!requiredInfo = 'recentPaymentString'}"/>
    <apex:outputText value="{!attendeeFirstName}" rendered="{!requiredInfo = 'attendeeFirstName'}"/>
    <apex:outputText value="{!attendeeLastName}" rendered="{!requiredInfo = 'attendeeLastName'}"/>
    <apex:outputText value="{!attendeeType}" rendered="{!requiredInfo = 'attendeeType'}"/>
    <apex:outputText value="{!attendeeName}" rendered="{!requiredInfo = 'attendeeName'}"/>
    <apex:outputText value="{!accountName}" rendered="{!requiredInfo = 'accountName'}"/>
    <apex:outputText value="{!attendeeMail}" rendered="{!requiredInfo = 'attendeeMail'}"/>
    <apex:outputText value="{!attendeeMailingStreet}" rendered="{!requiredInfo = 'attendeeMailingStreet'}"/>
    <apex:outputText value="{!attendeeMailingCity}" rendered="{!requiredInfo = 'attendeeMailingCity'}"/>
    <apex:outputText value="{!attendeeMailingState}" rendered="{!requiredInfo = 'attendeeMailingState'}"/>
    <apex:outputText value="{!attendeeMailingPostalCode}" rendered="{!requiredInfo = 'attendeeMailingPostalCode'}"/>
    <apex:outputText value="{!attendeeMailingCountry}" rendered="{!requiredInfo = 'attendeeMailingCountry'}"/>
    <apex:outputText value="{!eventName}" rendered="{!requiredInfo = 'eventName'}"/>
    <apex:outputText value="{!eventWebsite}" rendered="{!requiredInfo = 'eventWebsite'}"/>
    <apex:outputText value="{!eventContactEmail}" rendered="{!requiredInfo = 'eventContactEmail'}"/>
    <apex:outputText value="{!eventFormattedStartDate}" rendered="{!requiredInfo = 'eventFormattedStartDate'}"/>
    <apex:outputText value="{!eventFormattedEndDate}" rendered="{!requiredInfo = 'eventFormattedEndDate'}"/>
    <apex:outputText value="{!venueCity}" rendered="{!requiredInfo = 'venueCity'}"/>
    <apex:outputText value="{!venueCombined}" escape="false" rendered="{!requiredInfo = 'venueCombined'}"/>
    <apex:outputText value="{!accommodationString}" escape="false" rendered="{!requiredInfo = 'accommodationString'}"/>
    <apex:outputText value="{!invitedTo}" escape="false" rendered="{!requiredInfo = 'invitedTo'}"/>
    <apex:outputText value="{!contactString}" escape="false" rendered="{!requiredInfo = 'contactString'}"/>       
</apex:component>