<apex:component >
    <style>
.col227right {
    float: right;
    width: 292px;
}
.f3 {

    width: 283px;
}
</style> 


<!--LEFT SIDEBAR-->                 
            
<!--SIDENAV-->                      
<div id="sidebar">
<!--SIDENAV-->                      
     <div class="module m1">
        <div class="module m2">
            <div class="module m3">
                <ul class="sidenav">
                    <li><apex:outputlink styleClass="topa" value="{!$Label.ppQlikPartnerNetwork}?SubPage=PartnerNews">Partner Communications</apex:outputlink></li>
                    <li><apex:outputlink styleClass="topa" value="{!$Label.ppQlikPartnerNetwork}?SubPage={!$Label.ppQlikPartnerships}">Partnerships</apex:outputlink></li>
                    <li><apex:outputlink styleClass="topa" value="{!$Label.ppQlikPartnerNetwork}?SubPage=Qonnections">Qonnections</apex:outputlink></li>
                    <li><apex:outputlink styleClass="topa" value="/apex/{!$Label.EP_ExpertiseProgramMainPage}">Expertise Program</apex:outputlink></li>
                    <li><apex:outputlink styleClass="topa" value="{!$Label.ppQlikPartnerNetwork}?SubPage=ChangeWorld">Change Our World</apex:outputlink></li>
                </ul>
            </div>
        </div>
    </div>
<!--END SIDE NAV-->
<!--SFDC CONTENT SEARCH-->
    <apex:form >
    <div class="module m1">
            <div class="module m2">
                <div class="module m3 searchmodule">
                    <h3>Search Salesforce</h3>
                    <div class="clearfix p6">
                    <c:SearchComponent />   
                    </div>
                </div>
            </div>
        </div>

<!--END SFDC CONTENT SEARCH-->

 <!--SFDC CONTENT SEARCH-->                      

 <!-- Start Sidebar Modules -->
    <div class="module m1">
        <div class="module m2">
          <div class="module m3 searchmodule">
                <h3>Search Partner Library</h3>
                <div class="clearfix p6">
                    <c:SearchContent /> 
                    <a href="/sfc/#search" class="advancedsearch">View All Content</a>   
                </div>
            </div>
        </div>
    </div>
</apex:form>
<!--END SFDC CONTENT SEARCH--> 
 </div> 
 <!--LEFT SIDEBAR--> 
</apex:component>