<apex:component allowDML="true">

<apex:attribute name="pkbCon" type="pkb_Controller" required="true" description="handle to the pkb controller" />

<apex:attribute name="aid" type="String" required="true" description="ID of the article" />
<apex:attribute name="title" type="String" required="true" description="Title of the article" />
<apex:attribute name="summary" type="String" required="true" description="Summary of the article" />
<apex:attribute name="urlName" type="String" required="true" description="URL name of the article" />
<apex:attribute name="articleTypeName" type="String" required="true" description="Type Name (developer) of the article" />
<apex:attribute name="articleTypeLabel" type="String" required="true" description="Type Name label of the article" />
<apex:attribute name="lastModifiedDate" type="Date" required="true" description="Last Modified Date of the article" />
<apex:attribute name="firstPublishedDate" type="Date" required="true" description="First Published Date of the article" />
<apex:attribute name="lastPublishedDate" type="Date" required="true" description="Last Published Date of the article" />
<apex:attribute name="articleNumber" type="String" required="false" description="for articles retrieved via soql or sosl, this might be passed" />

<apex:variable var="typeName" value="{!SUBSTITUTE(articleTypeName, pkbCon.kavExtension, '')}" />
<apex:variable var="feedback" value="{!pkbCon.feedbackSourceParam}={!IF(pkbCon.displayContactUs, pkbCon.feedbackContactUs, pkbCon.feedbackSearch)}" />
<apex:variable var="pageNum" value="{!pkbCon.pageNumParam}={!pkbCon.currPage}" />
<apex:variable var="params" value="{!IF(ISBLANK(pkbCon.allSearchParams), feedback, pkbCon.allSearchParams+ '&' +feedback+ '&' +pageNum)}" />
<apex:variable var="siteArticleURL" value="{!pkbCon.currentSiteUrl}articles{!pkbCon.selectedLanguageURL}{!typeName}/{!urlName}/?" />
<apex:variable var="nonSiteArticleURL" value="{!$Page.pkb_Home}?id={!aid}&" />
<apex:variable var="articleURL" value="{!IF( pkbCon.isSite, siteArticleURL, nonSiteArticleURL )}" />

<!-- 
  IS SITE: {!pkbCon.isSite}<br/>
  SITE NAME: {!pkbCon.siteName}<Br/>
  SITE URL: {!pkbCon.currentSiteUrl}<br/>
-->

<!--   <div class="article {!IF(pkbCon.displayContactUs && LEFT(aid,15) == LEFT(pkbCon.theKad.id,15), 'selectedArticle', '')}"> Removed by Qlik -->
    <apex:outputText escape="false"> 
    <h2>  <a href="{!articleURL}{!params}">{!title}</a> </h2> <!-- added h2 tag, Qlik -->
    </apex:outputText>

     <!-- <div class="data">
        <apex:outputText value="{!articleTypeLabel}" />
        -&nbsp;
      <apex:outputText value="{0,date,MMMMM' 'd', 'yyyy}">
        <apex:param value="{!firstPublishedDate}" />
      </apex:outputText> 
      </div>              
   <div class="content"> Removed by Qlik -->
    <p> <!-- added by Qlik -->
      <apex:outputText rendered="{!pkbCon.showArticleSummary}" value="{!LEFT(summary, 255)}" />
      <apex:outputText rendered="{!LEN(summary) > 255 && pkbCon.showArticleSummary}" value="..." />
    </p> <!-- added by Qlik -->
<!--    </div>
   </div>     
Removed by Qlik  --> 

</apex:component>