<apex:component allowDML="true">
<apex:attribute name="pkbCon" type="pkb_Controller" required="true" description="handle to the pkb controller" />
<apex:attribute name="showFeedbackYesNo" type="Boolean" required="true" description="flag to indicate if Yes/No buttons should be shown" />
<apex:attribute name="showBackLinks" type="Boolean" required="true" description="flag to indicate if 'back to...' buttons should be shown" />

<apex:variable var="pageNum" value="{!pkbCon.pageNumParam}={!pkbCon.currPage}" />



 <!--<div style="margin-bottom: 5px;">
    <h2 class="section">&nbsp;</h2>
    </div> removed by Qlik-->
<!-- removed by Qlik
    <div class="articleViewIcons">
   <c:pkb_articleicons pkbCon="{!pkbCon}" />
    </div>
    
    <apex:outputPanel layout="block" rendered="{!AND(showBackLinks, NOT(pkbCon.facebook))}" id="backbutton" style="margin-bottom: 5px;">     
       <apex:outputText rendered="{!pkbCon.displaySearchResultsLink}">
            <a class="relatedLink" href="{!$Site.CurrentSiteUrl}?{!pkbCon.allSearchParams}&{!pageNum}">&lt; {!$Label.PKB2_Back_To_Results}</a>
          </apex:outputText>
          <apex:outputText rendered="{!NOT(pkbCon.displaySearchResultsLink)}">
            <a class="relatedLink" href="{!$Site.CurrentSiteUrl}">&lt; {!$Label.PKB2_Back_To_Search_Page}</a>
          </apex:outputText>
      <br/>
      <br/>
      </apex:outputPanel>
-->

<!-- start added by Qlik -->
<div style="top:0px; width:653px; position: absolute">    
    <apex:outputPanel layout="block" rendered="{!AND(showBackLinks, NOT(pkbCon.facebook))}" id="backbutton" style="margin-bottom: 5px;">     
       <apex:outputText rendered="{!pkbCon.displaySearchResultsLink}">
            <a class="relatedLink" href="{!$Site.CurrentSiteUrl}?{!pkbCon.allSearchParams}&{!pageNum}">&lt; {!$Label.PKB2_Back_To_Results}</a>
          </apex:outputText>
          <apex:outputText rendered="{!NOT(pkbCon.displaySearchResultsLink)}">
            <a class="relatedLink" href="{!$Site.CurrentSiteUrl}">&lt; {!$Label.PKB2_Back_To_Search_Page}</a>
          </apex:outputText>
      </apex:outputPanel>

      
<div class="articleViewIcons" style="top:0px; right:0px; width:300px; position: absolute">
   <c:pkb_articleicons pkbCon="{!pkbCon}" />
    </div>
</div>

<!-- end added by Qlik -->


     <div style="width: 100%;"> <!--    removed id, Qlik -->

     <apex:insert name="body" />   
     
      <apex:outputPanel layout="block" style="margin-top: 20px; margin-bottom: 20px;" rendered="{!NOT(pkbCon.isSite)}">       
      <i>Viewing the PKB from a normal salesforce url (instead of through a Sites url) is for testing purposes only. No article content will render on this page, 
      but all other PKB functionality can be tested.</i>
      </apex:outputPanel>
  </div> 
   <apex:outputText rendered="{!pkbCon.facebook}">
      <c:pkb_related pkbCon="{!pkbCon}" />
   </apex:outputText>
<apex:outputPanel layout="block" styleClass="feedbackContainer" rendered="{!showFeedbackYesNo}">
    <c:pkb_feedbackyesno pkbCon="{!pkbCon}" />
  </apex:outputPanel>
  <!-- start added by Qlik -->
  <br/>
  <br/>
  <a href="http://www.qlik.com/support" target="_parent">qlik.com/support</a>
  <br/>
  <p style="font-size:11px; line-height:120%; margin-top:40px">
  The contents of this document are and shall remain the confidential property of QlikTech and may not be communicated to any other party without the prior written approval of QlikTech. This document must not be reproduced in whole or in part.  It must not be used for any other purpose than your learning of QlikView and only by you except with the prior written consent of QlikTech and then only on condition that QlikTech’s and any other copyright notices are included in such reproduction. To the best of QlikTech's knowledge those who prepared this document have taken all reasonable care in preparing it and believe its contents to be true as at the date of this document; however your use of this material is on an "as is" basis without any warranties . In no circumstances shall QlikTech be liable for any direct, indirect, special, or other consequential loss arising out of the use of the document. To that extent all liability for loss of profits, interruption of work, loss of programs, or loss of other data is also excluded. This also applies if the possibility of such loss has been expressly drawn to QlikTech's attention.
<br/>
<br/>
©Copyright 2014 QlikTech Inc. All rights reserved.
</p>
<!-- end added by Qlik -->



</apex:component>