<!--************************************************************
* 2019-05-05 AIN IT-1597 Created for Support Portal Redesign
*************************************************************-->
<apex:component controller="QS_PageTemplateRefController" layout="none" >
    <apex:attribute name="topController" type="QS_PageTemplateController" assignTo="{!QS_PageTemplateController}" description="Main page Controller"/>
    <header>
        <section class="navigation">
            <div class="mobile-links">
                <button class="toggle-button">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="flyout resources">
                <a href=""><div><span class="icon-th"></span></div></a>
                <c:QS_MenuResources topController="{!QS_PageTemplateController}"/>
            </div>
            <div class="logo">
                <a href="{!$Page.QS_Home_Page}"><img src="{!URLFOR($Resource.QS_Resources, '/img/logo_qliksupport-h.png')}" alt="Qlik Support" title="Qlik Support"/></a>
            </div>
            <nav>
                <ul class="menu">
                    <c:QS_Menu topController="{!QS_PageTemplateController}"/>
                </ul>
            </nav>
            <div class="flyout contact">
                <a href="{!$Page.QS_ContactUs}"><div><span class="icon-c_question"></span><span>Contact</span></div></a>
                <c:QS_MenuContact topController="{!QS_PageTemplateController}"/>
            </div>
            <div class="flyout login">
                <a href="{!QS_PageTemplateController.LoginPageURL}"><div><span class="icon-c_user"></span><span>Login</span></div></a>
            </div>
            <div class="flyout myaccount">
                <a href=""><div><div class="user"><apex:image id="profileImage1" value="{!IF(Isblank(QS_PageTemplateController.UserprofilePic),$Resource.QS_Qliklogo,QS_PageTemplateController.UserprofilePic)}"/></div><span>My Account</span></div></a>
                <c:QS_MenuLogin topController="{!QS_PageTemplateController}"/>
            </div>
        </section>
        <c:QS_AuthenticatedUser topController="{!QS_PageTemplateController}"/>
    </header>
    <c:QS_Alert />
</apex:component>