<!--************************************************************
* 2019-05-05 AIN IT-1597 Created for Support Portal Redesign
*************************************************************-->
<apex:component controller="QS_PageTemplateRefController" layout="none" allowDML="true">
    <apex:attribute name="topController" type="QS_PageTemplateController" assignTo="{!QS_PageTemplateController}" description="Main page Controller"/>
    <style>
        .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        .inputfile + label {
            cursor: pointer; /* "hand" cursor */
        }
    </style>
    <script type="text/javascript">
        //var fileUploader = "{!$Component.file}";
    </script>
    <script>
        var popUpJq;
        var closePopup = false;

        $(document).ready(function ($) {
            //popUpJq = $('#qs-profile');

            $('#opener_profile').click(function () {
                shopPersonaPopUp();
            });
            $('#opener_profile2').click(function () {
                shopPersonaPopUp();
            });
            $('#opener_profile3').click(function () {
                shopPersonaPopUp();
            });
            $('#opener_profilename').click(function () {
                shopPersonaPopUp();
            });

            $('#opener_profilename').click(function (e) {
                if ($('ul.expanded').is(':hidden')) {
                    e.preventDefault();
                    $('ul').addClass('expanded');
                    $('ul.expanded').fadeIn(300);
                }
            });
        });

        function shopPersonaPopUp() {
            popUpJq = $('#qs-profile');
            popUpJq.dialog({
                autoOpen: false,
                resizable: true,
                width: 490,
                modal: true,
                open: function () {
                    $('iframe').unbind("load");
                    $('.ui-widget-overlay').addClass('qs-modal');
                    $('.ui-widget-overlay').bind('click', function () {
                        $('#qs-profile').dialog('close');
                    })
                },
                close: function () {
                    $('.ui-widget-overlay').removeClass('qs-modal');
                }
            });
            popUpJq.dialog('open');
            //alert($('iframe'));
            $('iframe').on('load', function () {
                if (closePopup)
                    $('#qs-profile').dialog('close');
                else
                    closePopup = true;
            });
        }
    </script>
    <style>
        #qs-profile {
            display: none;
        }
    </style>
    <div id="qs-profile" title="Profile">
        <iframe src="{!$Site.CurrentSiteUrl}apex/QS_Persona?id={!$User.Id}" width="100%" height="390" frameborder="0" />
    </div>
    <div class="menu-flyout menu-login">
        <div class="wrapper">
            <div class="menu-header">
                <div>
                    <div class="user"><apex:image id="profileImage1" value="{!IF(Isblank(QS_PageTemplateController.UserprofilePic),$Resource.QS_Qliklogo,QS_PageTemplateController.UserprofilePic)}"/></div>
                    <h3>Welcome {!QS_PageTemplateController.FirstName}{!QS_PageTemplateController.caseListSize}</h3>
                </div>
                <div><a href="/secur/logout.jsp" class="btn">Logout</a></div>
            </div>
            <div class="menu-sections">
                <div>
                    <img src="{!URLFOR($Resource.QS_Resources, '/img/icon_chat-alt.svg')}" width="" height="44"/>
                    <span class="subtitle">Manage</span>
                    <h3>My Profile</h3>
                    <ul class="alt-list">
                        <li><a href="#" id="opener_profile">Upload/update photo</a></li>
                        <li><a href="#" id="opener_profile2">Identify Business Profile</a></li>
                        <li><a href="#" id="opener_profile3">Email Preferences</a></li>
                        <li><a href="https://partners.qlik.com/" target="_blank"><span class="icon-c_connectingrings"></span> <span>Partner Portal</span></a></li>
                    </ul>
                </div>
                <div>
                    <img src="{!URLFOR($Resource.QS_Resources, '/img/icon_handrecycle-alt.svg')}" width="" height="48"/>
                    <span class="subtitle">Manage My Cases</span>
                    <h3>My Cases</h3>
                    <ul class="alt-list">
                        <li><a href="{!$Page.QS_ContactUs}">Submit a Case</a></li>
                        <li><a href="{!$Page.QS_CaseListPage}">View My Cases</a></li>
                    </ul>
                </div>
                <div>
                    <img src="{!URLFOR($Resource.QS_Resources, '/img/icon_toolbox-alt.svg')}" width="" height="48"/>
                    <span class="subtitle">Installed Qlik Products</span>
                    <h3>My Environments</h3>
                    <p> Log your environments to ensure faster and more targeted troubleshooting.</p>
                    <ul class="alt-list">
                        <li><a href="{!$Page.QS_EnvironmentListPage}">View My Environments</a></li>
                    </ul>
                </div>
                <div>
                    <img src="{!URLFOR($Resource.QS_Resources, '/img/icon_license-alt.svg')}" width="" height="48"/>
                    <span class="subtitle">View Available Licenses</span>
                    <h3>My Licenses</h3>
                    <p>Understand your licenses to help you maximize your experience.</p>
                    <ul class="alt-list">
                        <li><a href="{!$Page.QS_LicenseListPage}">View My Licenses</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</apex:component>