<!--************************************************************
* 2019-05-05 AIN IT-1597 Created for Support Portal Redesign
* 2019-09013 extbad IT-2125 Add MyQlik link
* 2019-09-24 AIN Changed My Qlik Icon
* 2019-12-04 AIN Changed link to attunity support
*************************************************************-->
<apex:component controller="QS_PageTemplateRefController" layout="none">
    <apex:attribute name="topController" type="QS_PageTemplateController" assignTo="{!QS_PageTemplateController}" description="Main page Controller"/>
    <div class="menu-flyout menu-resources">
        <div class="wrapper">
            <div class="menu-header">
                <span class="menu-title"><span class="icon-th"></span> Quick Links</span>
            </div>
            <div class="menu-sections">
                <ul>
                    <li><a href="https://www.qlik.com/us/" target="_blank"><span class="icon-c_globe"></span><span class="info">Qlik.com</span></a></li>
                    <li><a href="https://qcc.qlik.com/" target="_blank"><span class="icon-c_book"></span><span class="info">Qlik Continuous Classroom</span></a></li>
                    <li><a href="https://help.qlik.com/" target="_blank"><span class="icon-c_hand"></span><span class="info">Qlik Help</span></a></li>
                    <li><a href="https://community.qlik.com/" target="_blank"><span class="icon-c_network"></span><span class="info">Qlik Community</span></a></li>
                    <li><a href="https://attunitysupport.qlik.com" target="_blank"><span class="icon-c_headset"></span><span class="info">Attunity Support Portal</span></a></li>
                    <li><a href="https://www.youtube.com/user/qlikview" target="_blank"><span class="icon-youtube"></span><span class="info">Qlik Videos</span></a></li>
                    <li><a href="{!myQlikLink}" target="_blank"><span class="icon-person"></span><span class="info">MyQlik</span></a></li>
                    <li><a href="https://www.qlik.com/us/services/qlik-consulting" target="_blank"><span class="icon-c_bullseye"></span><span class="info">Consulting</span></a></li>
                    <li><a href="https://community.qlik.com/t5/Blogs/ct-p/qlik-community-blogs" target="_blank"><span class="icon-c_chatbubble"></span><span class="info">Blog</span></a></li>
                    <li><a href="https://developer.qlik.com/" target="_blank"><span class="icon-c_code"></span><span class="info">Developers</span></a></li>
                    <li><a href="https://partners.qlik.com/" target="_blank"><span class="icon-c_connectingrings"></span><span class="info">Partner Portal</span></a></li>
                    <li><a href="https://www.qlik.com/us/services/support" target="_blank"><span class="icon-c_paperscroll"></span><span class="info">Maintenance &amp; Policies</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</apex:component>